<div id="bdpAuth0Error" class="bdp-exception-body">
    <div class="bdp-back-btn bdp-pointer" (click)="gotoSignIn()">
        <i class="fa-solid fa-arrow-left"></i>&nbsp; <span class="bdp-bold"> Back</span>
    </div>
    <div class="exception-top bdp-center">
        <img src="assets/bdp/images/PSA_BDP_black_logo.png" alt="PSA BDP Logo" class="psa-bdp-logo"/>
    </div>
    <div class="exception-content bdp-center">
        <img src="assets/bdp/images/access-denied.svg" alt="Access denied image" class="access-denied-image"/>
    </div>

    <div class="exception-bottom">
        <div class="info-wrapper">
            <strong>Access is denied!</strong>
            <div>You must accept the access request to proceed.</div>
            <strong>Please click <span class="bdp-link bdp-underline" (click)="gotoSignIn()">Sign In</span> and try again.</strong>
        </div>
    </div>
</div>
