#bdpOverview {
    .bdp-overview-widget {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &.bdp-fullscreen-widget {
            background: #f7fbff;
        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            color: #1d2125;
            border-radius: 8px;
            background: #fff;
            transition: all 300ms ease;
            height: 100%;

            &.bdp-active {
                background-color: #004ce1;
                color: #fff;
            }

            h3 {
                font-size: 28px;
                margin: 0px;
                font-weight: normal;
            }

            p {
                font-size: 14px;
            }
        }
    }

    #piechart {
        ::ng-deep {
            .highcharts-title {
                display: none;
            }
        }
    }
    .responsive_add_new {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: -42px;
        margin-top: 2.8rem;
        margin-left: -1rem;
      }
    #bubblechart {
        ::ng-deep {
            .highcharts-title {
                display: none;
            }
        }
    }

    ::ng-deep {
        .p-tabview-nav {
            display: none;
        }

        div.p-tabview {
            .p-tabview-panels {
                background: transparent;
            }
        }
    }
}

.card {
    background-color: white !important;
}

#titleHeader {
    #textTitle {
        position: relative;
        top: 0.2rem;
        font-size: 18px;
        font-weight: 400;
        color: #333;
        font-family: "Montserrat", sans-serif !important;
    }

    ::ng-deep {
        .p-dropdown {
            float: right !important;
            margin-right: -0.3rem;
        }
    }
}

.resolutionDropdown {
    margin-top: 3rem;

    ::ng-deep {
        .p-dropdown {
            width: 96% !important;
            margin-bottom: 28px;
        }
    }
}

::ng-deep {
    .p-datatable {
        width: 100%;
    }

    .p-datatable-wrapper {
        overflow: scroll;
        width: 100%;
        max-height: 400px;
    }
}

::ng-deep {
    .p-paginator .p-dropdown {
        width: 75px !important;
    }

    .p-breadcrumb {
        background: none;
        border: none;
        border-radius: 0px;
        padding: 1rem;
    }
}

th {
    text-align: center;
}

:host ::ng-deep {
    .p-dialog-content {
        overflow: visible !important;
    }

    .p-inputtext {
        width: 100% !important;
    }

    .p-dropdown#company {
        display: block;
    }

    .p-dropdown {
        width: 100% !important;
    }

    p-chips.ng-pristine.ng-valid.ng-touched {
        width: 100% !important;
        display: block;
    }

    .p-chips.p-component {
        display: inline-flex;
        width: 100%;
    }
    .requiredField {
        color: #f94444
    }
}
