<div class="bdp-center">
    <div class="card loadingCard">
        <div>
            <img src="assets/bdp/images/PSA_BDP_black_logo.png" alt="poseidon-layout" class="psaBdpLogo"/>
        </div>
        <div>
            <img src=" assets/bdp/images/bdp_loader_1.png" alt="poseidon-layout"/>
        </div>
        <h2>Page is loading!</h2>
        <p>Please wait untill loading completes.</p><br>
        <p>If the page does not complete loading, Please refresh your screen and try again.</p>
    </div>
</div>