<div class="card">
  <div class="grid">
    <div class="col-6">
      <h4>Project</h4>
    </div>
    <div class="col-6" style="display: flex;justify-content: flex-end;">
      <div *ngIf="showDateRangeSelection" class="custom-date-range-dropdown">
        <p-dropdown [options]="predefinedDateRanges" [(ngModel)]="selectedPredefinedDateRange" optionLabel="label"
          placeholder="Select Date Range" [style]="{'width': '200px'}"
          (onChange)="onPredefinedDateRangeChange()"></p-dropdown>
        <br>
        <div class="custom-date-range" *ngIf="selectedPredefinedDateRange?.value === 'custom'">
          &nbsp;
          <p-calendar [(ngModel)]="selectedStartDate" selectionMode="single" [readonlyInput]="true"
            dateFormat="dd.mm.yy" placeholder="Start Date" style="width: 100%;"></p-calendar>
          <p-calendar [(ngModel)]="selectedEndDate" selectionMode="single" [readonlyInput]="true" dateFormat="dd.mm.yy"
            placeholder="End Date" style="width: 100%;"></p-calendar>
        </div>
        <br>
        <button pButton type="button" label="Cancel" (click)="cancelDateRange()" class="mr-2 mb-2"></button>

        <button pButton type="button" label="Apply" (click)="applyDateRange()" class="mr-2 mb-2"></button>
      </div>
      <button type="button" pButton pRipple label="Create Project" [routerLink]="['/create-project']"
        class="mr-2 mb-2"></button>
        <button type="button" pButton pRipple label="Export Excel" (click)="toggleDateRangeSelection()"
        class="mr-2 mb-2 btnwidth"></button>
        
  
  
        <p-toast key="successToast"></p-toast>
    </div>
  </div>
  <hr class="align">
    <div>
      <div class="sidebar-container">
        <app-search-filter></app-search-filter>
      </div>
    </div>

  <p-table #dt1 [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [value]="proejctdetails"
    selectionMode="single" dataKey="id" styleClass="p-datatable-gridlines" responsiveLayout="scroll" [rows]="10"
    [paginator]="true" scrollHeight="530px" scrollDirection="both" [resizableColumns]="true">
    <!-- <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col style="width: 50px" />
          <col style="width: 70px" />
          <col style="width: 70px" />
          <col style="width: 200px" />
          <col style="width: 300px" />
          <col style="width: 120px" />
          <col style="width: 180px" />
          <col style="width: 180px" />
      </colgroup>
  </ng-template> -->
    <!-- <ng-template pTemplate="caption">
      <div class="table-header">
          <div class="col-2 pb-0">
            <app-search-filter></app-search-filter>
          </div>
      </div>
  </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center;width: 50px" [frozen]="true" class="sticky-header">Actions</th>
        <th style="text-align: center; width: 200px" pSortableColumn="comp_name" [frozen]="true" class="sticky-header">
          Company Name<p-sortIcon field="comp_name"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="proj_id" [frozen]="true" class="sticky-header">
          Project ID<p-sortIcon field="proj_id"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="proj_name" [frozen]="true" class="sticky-header">
          Project Name<p-sortIcon field="proj_id"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="oppourtunity_name" [frozen]="true"
          class="sticky-header">Opportunity Name<p-sortIcon field="oppourtunity_name"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="proj_stage" [frozen]="true" class="sticky-header">
          Project Stage<p-sortIcon field="proj_stage"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="proj_status" [frozen]="true"
          class="sticky-header">Project Status<p-sortIcon field="proj_status"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="oppourtunity_manager" [frozen]="true"
          class="sticky-header">Opportunity Manager<p-sortIcon field="oppourtunity_manager"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="start_date" [frozen]="true" class="sticky-header">
          Start Date<p-sortIcon field="start_date"></p-sortIcon>
        </th>
        <th style="text-align: center; width: 200px" pSortableColumn="end_date" [frozen]="true" class="sticky-header">
          End Date<p-sortIcon field="end_date"></p-sortIcon>
        </th>


      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td style="text-align: center;">
          <span style="cursor: pointer;" (click)="confirm('copy')"><i class="pi pi-copy"></i></span>&nbsp;
          <span style="cursor: pointer;" (click)="confirm('delete', item.id)">
            <i class="pi pi-trash"></i>
          </span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.comp_name}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.proj_id}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span><a [routerLink]="['/create-project']">{{item.proj_name}}</a></span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.oppourtunity_name}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.proj_stage}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.proj_status}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.oppourtunity_manager}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.start_date}}</span>
        </td>
        <td style="text-align: center; word-wrap: break-word;">
          <span>{{item.end_date}}</span>
        </td>



      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td style="text-align: center;" colspan="18">No Data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-confirmDialog [header]="confirmationHeader" icon="pi pi-exclamation-triangle"
  [style]="{ 'width': '550px', 'height': '300px' }"></p-confirmDialog>