<div class="card">
  <div style="display: flex;justify-content: flex-end; margin-top: -45px;">
    <div *ngIf="showDateRangeSelection" class="custom-date-range-dropdown">
      <p-dropdown [options]="predefinedDateRanges" [(ngModel)]="selectedPredefinedDateRange" optionLabel="label"
        placeholder="Select Date Range" [style]="{'width': '200px'}"
        (onChange)="onPredefinedDateRangeChange()"></p-dropdown>
      <br>
      <div class="custom-date-range" *ngIf="selectedPredefinedDateRange?.value === 'custom'">
        &nbsp;
        <p-calendar [(ngModel)]="selectedStartDate" selectionMode="single" [readonlyInput]="true"
          dateFormat="dd.mm.yy" placeholder="Start Date" style="width: 100%;"></p-calendar>
        <p-calendar [(ngModel)]="selectedEndDate" selectionMode="single" [readonlyInput]="true" dateFormat="dd.mm.yy"
          placeholder="End Date" style="width: 100%;"></p-calendar>
      </div>
      <br> 
      <button pButton type="button" label="Cancel" (click)="cancelDateRange()" class="mr-2 mb-2"></button>

      <button pButton type="button" label="Apply" (click)="applyDateRange()" class="mr-2 mb-2"></button>
    </div>
 <div class="project_right">
  <button type="button" pButton pRipple label="Create Project" [routerLink]="['/create-project']"
  class="mr-2 mb-2"></button>
  <button type="button" pButton pRipple label="Download Excel" (click)="toggleDateRangeSelection()"
  class="p-button-outlined mr-2 mb-2 btnwidth"></button>
 </div>
      
 </div>    

      <p-toast key="errorToast"></p-toast>
      <p-toast key="successToast"></p-toast>

  <div>
    <div class="sidebar-container">
      <app-search-filter></app-search-filter>
    </div>
  </div>
 
<p-table #dt1 [showCurrentPageReport]="true" [value]="proejctdetails"
  selectionMode="single" dataKey="id" styleClass="p-datatable-gridlines" responsiveLayout="scroll" 
   scrollHeight="530px" scrollDirection="both" [resizableColumns]="true" (onSort)="onSort($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="text-align: center;width: 50px" [frozen]="true" class="sticky-header">Actions</th>
      <th style="text-align: center; width: 260px" pSortableColumn="companyname" [frozen]="true" class="sticky-header">
        Company Name<p-sortIcon field="companyname"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 260px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Company Code<p-sortIcon></p-sortIcon>
      </th>
      <th style="text-align: center; width: 260px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Industry Vertical<p-sortIcon field=""></p-sortIcon>
      </th>
      <!-- <th style="text-align: center; width: 260px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Opportunity Id<p-sortIcon field=""></p-sortIcon>
      </th> -->
      <th style="text-align: center; width: 200px" pSortableColumn="opportunityName" [frozen]="true"
      class="sticky-header">Opportunity Name<p-sortIcon field="opportunityName"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true"
      class="sticky-header">Region<p-sortIcon field=""></p-sortIcon>
      </th>
      <!-- <th style="text-align: center; width: 200px" pSortableColumn="id" [frozen]="true" class="sticky-header">
        Project ID<p-sortIcon field="id"></p-sortIcon>
      </th> -->
      <th style="text-align: center; width: 200px" pSortableColumn="projectName" [frozen]="true" class="sticky-header">
        Project Name<p-sortIcon field="projectName"></p-sortIcon>
      </th>
     
      <th style="text-align: center; width: 200px" pSortableColumn="projectStage" [frozen]="true" class="sticky-header">
        Project Stage<p-sortIcon field="projectStage"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="projectStatus" [frozen]="true"
        class="sticky-header">Project Status<p-sortIcon field="projectStatus"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="opportunitymanager" [frozen]="true"
        class="sticky-header">Opportunity Manager<p-sortIcon field="opportunitymanager"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="startDate" [frozen]="true" class="sticky-header">
        Start Date<p-sortIcon field="startDate"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="endDate" [frozen]="true" class="sticky-header">
        End Date<p-sortIcon field="endDate"></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Scope & Assumptions <p-sortIcon field=""></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Origin Location <p-sortIcon field=""></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Destination Location <p-sortIcon field=""></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true" class="sticky-header">
       Total Cost <p-sortIcon field=""></p-sortIcon>
      </th>
      <th style="text-align: center; width: 200px" pSortableColumn="" [frozen]="true" class="sticky-header">
        Total Revenue <p-sortIcon field=""></p-sortIcon>
       </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td style="text-align: center;">
        <span style="cursor: pointer;" (click)="showCopyDialog(item)"><i style="color: #2ca5ea;" class="pi pi-copy"></i></span>&nbsp;
        <span style="cursor: pointer;" (click)="confirm('delete', item.id)">
          <i style="color: red;" class="pi pi-trash"></i>
        </span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.companyname}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>
      <!-- <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.opportunityID}}</span>
      </td> -->
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.opportunityName}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span><a [routerLink]="['/create-project']" [queryParams]="{ projId: item.id }">{{item.projectName}}</a></span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.projectStage}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.projectStatus}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.opportunitymanager}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.startDate}}</span>
      </td>
      <td style="text-align: center; word-wrap: break-word;">
        <span>{{item.endDate}}</span>
      </td>

      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>

      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>

      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>

      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>

      <td style="text-align: center; word-wrap: break-word;">
        <span>NA</span>
      </td>


    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td style="text-align: center;" colspan="18">No Data found.</td>
    </tr>
  </ng-template>
</p-table>
<p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="totalRecords"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"></p-paginator>
</div>
<p-confirmDialog [header]="confirmationHeader" icon="pi pi-exclamation-triangle"
[style]="{ 'width': '550px', 'height': '300px' }"></p-confirmDialog>

<p-dialog header="Copy Project" [(visible)]="visible" [modal]="true" [style]="{width: '34vw',height: '26rem'}">
  <p>
      <b style="font-weight: 500;">Are you sure that you want to copy this project?</b>
  </p>

    <div class="p-fluid grid">
        <div class="field col-12 md:col-12">
            <div class="p-d-block"><label>Project Name<span class="requiredField">*</span></label></div>
            <input type="text" [(ngModel)]="selectedProjectName" pInputText>
        </div>
       
        <div class="field col-12 md:col-12 customCSS" style="margin-top: -27px;">
          <div class="p-d-block"><label>Start Date-End Date<span class="requiredField">*</span></label></div>
          <input type="text" ngxDaterangepickerMd [lockStartDate]="false"
          placeholder="Start Date-End Date" [(ngModel)]="selected"  class="date_pick" />
        </div>
    </div>
    <div class="col-12" style="display: flex;justify-content: flex-end;">
        <button pButton pRipple type="button" (click)="onCancel()"  label="Cancel" 
                class="p-button-outlined mr-2 mb-2"></button>
        <button type="submit" (click)="onCopySubmit()" pButton pRipple label="Submit"
                 class="mr-2 mb-2"></button>
    </div>
    

  
</p-dialog>