<div class="card">
    <div class="grid">
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onGlobalSearch($event.target.value)"
                placeholder="Search Keyword" />
            </span>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <button type="button" pButton pRipple label="Clear" (click)="clear(dt2)" class="mr-2 mb-2"></button>
            <button type="button" pButton pRipple label="Export" class="mr-2 mb-2" pTooltip="Export in Excel File"
                (click)="downloadExcel($event)" tooltipPosition="top"></button>
            <button type="button" pButton pRipple label=" Add " (click)="showCreateScopeDialoge()" icon="pi pi-plus"
                class="mr-2 mb-2"></button>
        </div>
    </div>
    <p-table #dt2 [value]="scopeDetails" dataKey="id" responsiveLayout="scroll" scrollHeight="530px"
        scrollDirection="both"
        [globalFilterFields]="['name', 'product.name', 'description', 'status','createdBy','updatedBy','updatedDate','createdDate']"
        selectionMode="single" styleClass="p-datatable-gridlines" [resizableColumns]="true" (onPage)="onPageChange($event)" (onSort)="onSort($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;width: 50px" [frozen]="true" class="sticky-header">Actions</th>
                <th style="text-align: center; width: 200px" pSortableColumn="status" [frozen]="true"
                    class="sticky-header">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th style="text-align: center; width: 200px" pSortableColumn="product.name" [frozen]="true"
                    class="sticky-header">Product Name
                    <p-sortIcon field="product.name" class="sort-icon"></p-sortIcon>
                    <p-columnFilter type="text" display="menu" field="product.name" pTooltip="Filter"
                        tooltipPosition="right" class="column-filter icon-align"></p-columnFilter>

                </th>
                <th style="text-align: center; width: 200px" pSortableColumn="name" [frozen]="true"
                    class="sticky-header">
                    <!-- Product Scope<p-sortIcon field="name"></p-sortIcon> -->Product Scope
                    <p-sortIcon field="name" class="sort-icon"></p-sortIcon>
                    <p-columnFilter type="text" display="menu" field="name" pTooltip="Filter" tooltipPosition="right"
                        class="column-filter icon-align"></p-columnFilter>


                </th>
                <th style="text-align: center; width: 200px" pSortableColumn="description" [frozen]="true"
                    class="sticky-header">Description</th>
                <th style="text-align: center; width: 200px" pSortableColumn="createdBy" [frozen]="true"
                    class="sticky-header">Created By<p-sortIcon field="createdBy"></p-sortIcon></th>
                <th style="text-align: center; width: 200px" pSortableColumn="createdDate" [frozen]="true"
                    class="sticky-header">Created At<p-sortIcon field="createdDate"></p-sortIcon></th>
                <th style="text-align: center; width: 200px" pSortableColumn="updatedBy" [frozen]="true"
                    class="sticky-header">Updated By<p-sortIcon field="updatedBy"></p-sortIcon></th>
                <th style="text-align: center; width: 200px" pSortableColumn="updatedDate" [frozen]="true"
                    class="sticky-header">Updated At<p-sortIcon field="updatedDate"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scope>
            <tr>
                <td style="text-align: center; word-wrap: break-word;">
                    <span style="cursor: pointer;" (click)="editScope(scope)"><i class="pi pi-pencil"></i></span>&nbsp;

                    <!-- <span style="cursor: pointer;"><i class="pi pi-trash"></i></span> -->
                </td>
                <td style="text-align: center; word-wrap: break-word;">
                    <p-tag [value]="getSeverityLabel(scope.status)" [severity]="getSeverity(scope.status)"></p-tag>
                </td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.product.name }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.name }}</td>
                <td style="text-align: center; max-width: 200px; overflow: hidden;" [title]="scope.description">
                    <span *ngIf="scope.description && scope.description.length > 50">
                        {{ (scope.description.slice(0, 20) +'...' || '') }}
                    </span>
                    <span *ngIf="!scope.description || (scope.description && scope.description.length <= 50)">
                        {{ scope.description || '' }}
                    </span>
                </td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.createdBy }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.createdDate | date:'dd MMM yyyy' }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.updatedBy }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ scope.updatedDate | date:'dd MMM yyyy' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="text-align: center;" colspan="18">No Data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="totalRecords"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" ></p-paginator>
</div>


<p-dialog [(visible)]="displayCreateScopeDialog" [style]="{width: '40vw'}" [resizable]="false" [modal]="true"
    closable='true'>
    <ng-template pTemplate="header">
        <h5 style="display: contents;">{{ modeTitle }}&nbsp;Scope</h5>
        <!-- <hr> -->
    </ng-template>
    <hr class="alignhr">
    <!-- <div class="tr-divider"></div> -->
    <form [formGroup]="ScopeForm">
        <div class="p-grid p-field">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label>Product Name<span class="required">*</span></label>
                    <p-dropdown optionLabel="name" placeholder="Select Product Name" [options]="procuctNamesOptions"
                        optionValue="id" [filter]="true" filterBy="name" [style]="{ 'width': '100%' }"
                        formControlName="productid" appendTo="body">
                    </p-dropdown>
                    <div
                        *ngIf="ScopeForm.get('productid')?.hasError('required') && ScopeForm.get('productid')?.touched" class="error-message">
                        Product Name is required.
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label>Product Scope<span class="required">*</span></label>

                    <input id="productScope" type="text" placeholder="Product Scope"
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="productScope" >
                    <div
                        *ngIf="ScopeForm.get('productScope')?.hasError('required') && ScopeForm.get('productScope')?.touched" class="error-message">
                        Product Scope is required.
                    </div>
                </div>
                <div class="field col-12 md:col-6 ">
                    <label>Description</label>
                    <textarea id="description" type="text" rows="2" placeholder="Description" pInputTextarea
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full no-resize"
                        formControlName="description"></textarea>
                </div>

                <div class="field col-12 md:col-6"
                    style="display: flex; flex-direction: column; align-items: flex-start;margin-top: 4px;">
                    <label>Status is Active?</label>
                    <div class="p-field-radiobutton" style="margin-left: 5px; margin-top: 15px;">
                        <div class="p-radio">
                            <p-radioButton name="status" value="active" label="Active"
                                formControlName="status"></p-radioButton>
                            <p-radioButton name="status" value="inactive" label="Inactive" formControlName="status"
                                style="margin-left: 25px;"></p-radioButton>
                        </div>
                    </div>
                    <div *ngIf="ScopeForm.get('status').hasError('required') && ScopeForm.get('status').touched" class="error-message">
                        Status is required.
                    </div>
                </div>
                <br>
            </div>
        </div>
    </form>
    <!-- <hr> -->
    <ng-template pTemplate="footer">
        <p-button label="{{ editMode ? 'Update' : 'Add' }}" (click)="createProductScope()"
            [disabled]="!ScopeForm.valid || processing"></p-button>&nbsp;&nbsp;
        <p-button label="Cancel" (click)="displayCreateScopeDialog = false"
            class="p-button-outlined mr-2 mb-2"></p-button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>