<p-sidebar [(visible)]="sidebarVisible" id="bdpfilter" styleClass="w-30rem">
  <div class="bdp-filter-panel">
    <h3>Advanced Search</h3>
    <hr>

    <div class="p-fluid bdp-filter-wrapper">
      <div class="p-fluid grid">
        <br>
        <div class="field col-12">
          <div class="p-d-block"><label>Project Stage :</label></div>
          <p-dropdown optionLabel="name" optionValue="id" [(ngModel)]="selectedStage" [options]="projectStageOptions" (onChange)="OnStageSelectProjectstatus($event)"
            placeholder="Select Stage" [filter]="true" filterBy="name"></p-dropdown>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Project Status :</label></div>
          <p-dropdown optionLabel="name" optionValue="id" [(ngModel)]="selectedStatus" [options]="statusOptions"
          [disabled]="!isProjectStageSelected"  placeholder="Select Status" [filter]="true" filterBy="name"></p-dropdown>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Project Name :</label></div>
          <p-dropdown optionLabel="name" optionValue="id" placeholder="Select Project" [filter]="true"
            filterBy="name"></p-dropdown>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Company Name:</label></div>
          <p-dropdown [options]="projectSuggestions" (onChange)="fetchOpprNameOnCompanySelect($event)"
            optionLabel="name" optionValue="id" [(ngModel)]="selectedProject" placeholder="Select Project"
            [filter]="true" filterBy="name"></p-dropdown>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Date Range :</label></div>
          <p-calendar [(ngModel)]="startDate" placeholder="Start Date"></p-calendar>
          <p-calendar [(ngModel)]="endDate" placeholder="End Date"></p-calendar>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Opportunity Name :</label></div>
          <p-dropdown [options]="managerOptions" optionLabel="name" optionValue="id" [(ngModel)]="selectedManager"
            placeholder="Select Opportunity Name" [filter]="true" filterBy="name"
            [disabled]="!isCompanySelected"></p-dropdown>
        </div>
        <div class="field col-12">
          <div class="p-d-block"><label>Opportunity Manager :</label></div>
          <p-dropdown [options]="opportunityManagers" optionLabel="label" optionValue="id"
            [(ngModel)]="selectedOpportunityManagers" placeholder="Select Opportunity Managers" [filter]="true"
            filterBy="label"></p-dropdown>
        </div>
      </div>

      <!-- end here -->
    </div>
    <div class="bdp-sticky-header">
      <div class="sidebar-header">
        <p-button label="Apply" class="sidebar-button"></p-button>
        <span class="bdp-clear-filters"><a style="cursor: pointer;" (click)="onClearFilterClick()">Clear
            Filters</a></span>
      </div>
    </div>
  </div>
</p-sidebar>

<p-button (click)="sidebarVisible = true" class="bdp-filter-button" label="Show filters"><img
    src='assets/layout/images/filter.svg' style="width: 70px;
        height: 25px;
        margin-right: 1px;"></p-button>