#bdpfilter .sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.field {
  padding: 5px !important;
  padding-bottom: 0px !important;
  font-size: 13px;
}

#bdpfilter .bdp-clear-filters {
  cursor: pointer;
  color: #007BFF;
}

#bdpfilter .bdp-clear-filters:hover {
  text-decoration: underline;
}

#bdpfilter .font-color-dark {
  color: #030303;
}

.filter-button {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 38px;
  background: #4285f4;
}

.centerContent {
  display: flex;
  align-items: center;
}

#bdpfilter .bdp-filter-panel .bdp-visible-filters label {
  margin-bottom: 10px;
}

#bdpfilter .bdp-filter-dropdown .p-dropdown-item {
  max-height: 50px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  word-wrap: break-word !important;


}

#bdpfilter .bdp-filter-dropdown .p-dropdown-items-wrapper {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}

.hr {
  background-color: black;
}

#bdpfilter .sidebar-button {
  width: 100px;
}

/* Add this CSS to your component's stylesheet */

/* Limit the width of the dropdown options */
#bdpfilter .p-dropdown-panel .p-dropdown-items {
  max-width: 300px;
  /* Adjust the max-width as needed */
}

/* Break long option labels into multiple lines */
#bdpfilter .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal;
}

#bdpfilter .p-dropdown-label {
  width: 89%;
  /* Adjust the width as needed */
}

/* Additional styling for label */
#bdpfilter .p-dropdown-label .p-dropdown-label-text {
  display: block;
  white-space: normal;
}


.filter_row {
  display: flex;

}

.filter_btn_group {
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  justify-content: space-evenly;
}

label {
  // font-size: 13px; *
  font-weight: 600;
  color: #6c6c6c;;
}


.tt {
  background: #f8f9fa;
  display: flex;
  margin-bottom: 0.7rem;
  border: 1px solid #15aec7;
  border-radius: 9px;
  box-shadow: 0px 12px 6px -11px;
  // overflow: auto;
}





// ::ng-deep .right {
//   display: none !important;
// }


.p-dropdown {
  max-width: 100% !important;
  border-radius: 10px;
}

// ::ng-deep .p-dropdown{
//   width: 11rem !important;
// }
// .clicked {
//   border: 2px solid rgb(0, 153, 255);
//   background-color: lightgray;
// }
.drop_down{
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  background: #ffffff00
}
::-webkit-scrollbar-track-piece {
  background: #fffdfd
}
::-webkit-scrollbar-thumb {
  background: #d6d6d6
}
// ::ng-deep .p-datepicker table td > span {
//   width: 1.5rem;
//   height: 1.5rem;
//   border-radius: 50%;
//   transition: box-shadow 0.2s;
//   border: 1px solid transparent;
// }
// ::ng-deep .p-datepicker table {
//   font-size: 10px;
//   margin: 0;
// }
// ::ng-deep .p-datepicker table td {
//   padding: 0;
// }
// ::ng-deep .p-datepicker table td > span {
//   width: 1.5rem;
//   height: 1.5rem;
//   border-radius: 50%;
//   transition: box-shadow 0.2s;
//   border: 1px solid transparent;
// }
// ::ng-deep .p-datepicker table {
//   font-size: 10px;
//   margin: 0;
// }
// ::ng-deep .p-datepicker table td {
//   padding: 0;
// }
// ::ng-deep .p-calendar .p-datepicker {
// width: 104% !important;
// }
::ng-deep .p-datepicker table td {
  padding: 0.13rem; // use as per your requirement.
}
body .p-datepicker table td {
  padding: 0.13rem; // use as per your requirement.
}
// ::ng-deep .p-calendar .p-datepicker {
//   min-width: 0% !important; 
// }
::ng-deep .p-datepicker table {
  font-size: 10px !important;
  margin: 0px !important;
}
::ng-deep .p-datepicker table td {
  padding: 0 !important;
}