

<div style="margin-bottom: 16px;">
  <button pButton pRipple  (click)="onclickShow()" class="mr-2 mb-2 filter-button">
    <div class="centerContent">
      <span style="margin-right: 8px;">Show Filters</span><i class="pi pi-filter icon-with-margin" [ngStyle]="{'color': isapply ? 'red' : 'white'}"></i>
    </div>
  </button>
</div>
    <div class="tt" *ngIf="visible">
            <div class="field">
              <div class="p-d-block"><label>Project Stage :</label></div>
              <p-dropdown optionLabel="name" optionValue="id" [(ngModel)]="selectedStage" [options]="projectStageOptions" (onChange)="OnStageSelectProjectstatus($event)"
                placeholder="Select Stage" [filter]="true" filterBy="name" class="drop_down" [style]="{ borderredius: '10px'}"></p-dropdown>
            </div>
            <div class="field">
              <div class="p-d-block"><label>Project Status :</label></div>
              <p-dropdown optionLabel="name" optionValue="id" [(ngModel)]="selectedStatus" [options]="statusOptions"
              [disabled]="!isProjectStageSelected"  placeholder="Select Status" [filter]="true" filterBy="name"></p-dropdown>
            </div>
            <div class="field">
              <div class="p-d-block"><label>Project Name :</label></div>
              <p-dropdown optionLabel="name" optionValue="id" [(ngModel)]="projectName" placeholder="Select Project" [filter]="true"
                filterBy="name"></p-dropdown>
            </div>
            <div class="field">
              <div class="p-d-block"><label>Company Name:</label></div>
              <p-dropdown [options]="projectSuggestions" (onChange)="fetchOpprNameOnCompanySelect($event)"
                optionLabel="name" optionValue="id" [(ngModel)]="selectedProject" placeholder="Select Company"
                [filter]="true" filterBy="name" [autoWidth]="false"
                [style]="{ minWidth: '100%', width:'11rem'}"></p-dropdown>
            </div>
            <div class="field">
              <div class="p-d-block"><label>Date Range :</label></div>
              <input type="text" ngxDaterangepickerMd
              [lockStartDate]="false"
        [(ngModel)]="selected" placeholder="Start-End"  (focus)="focusFunction()" class="date_pick" [ngClass]="{'clicked': isClicked}" />
            </div>
            <div class="field">
              <div class="p-d-block"><label>Opportunity Name :</label></div>
              <p-dropdown [options]="managerOptions" optionLabel="name" optionValue="id" [(ngModel)]="oppourtunity_name"
                placeholder="Select Opportunity Name" [filter]="true" filterBy="name"
                [disabled]="!isCompanySelected"></p-dropdown>
            </div>
            <div class="field">
              <div class="p-d-block"><label>Opportunity Manager :</label></div>
              <p-dropdown [options]="opportunityManagers" optionLabel="label" optionValue="value"
                [(ngModel)]="opportunity_manager" placeholder="Opportunity Manager" [filter]="true"
                filterBy="name"></p-dropdown>
                <!-- <p-dropdown [options]="managerOptions" optionLabel="name" optionValue="id" [(ngModel)]="oppourtunity_name"
                placeholder="Select Opportunity Name" [filter]="true" filterBy="name"
                [disabled]="!isCompanySelected"></p-dropdown> -->
            </div>
            <div class="field">
              <div class="bdp-sticky-header">
                <div class="sidebar-header filter_btn_group">
                  <p-button label="Apply" class="sidebar-button" (click)="getProjectFilter()"></p-button>
                  <span class="bdp-clear-filters" style="padding-left: 5px !important;"><a style="cursor: pointer;" (click)="onClearFilterClick()">Clear</a></span>
                </div>
              </div>
            </div>
          </div>
    
          <!-- end here -->
     

   