<div id="bdpPageBreak" class="bdp-exception-body">
    <div class="exception-top bdp-center">
        <img src="assets/bdp/images/PSA_BDP_black_logo.png" alt="PSA BDP Logo" class="psa-bdp-logo" />
    </div>
    <div class="exception-content bdp-center">
        <img src="assets/bdp/images/gateway-error.svg" alt="Gateway Error" class="gateway-error-image" />
    </div>

    <div class="exception-bottom">
        <div class="info-wrapper">
            <strong>We are experiencing a technical issue at this time.<br> Please try again later or reach out to your BDP
                Contact.</strong>
        </div>
    </div>
</div>