<div id="bdpMaintenance" class="bdp-exception-body">
    <div class="exception-top bdp-center">
        <img src="assets/bdp/images/PSA_BDP_black_logo.png" alt="PSA BDP Logo" class="psa-bdp-logo" />
    </div>
    <div class="exception-content bdp-center">
        <img src="assets/bdp/images/maintenance.svg" alt="Maintenance" class="maintenance-image" />
    </div>

    <div class="exception-bottom">
        <div class="info-wrapper">
            <strong>We are performing regular system maintenance.<br>Please try again in 2 hours.</strong>
        </div>
    </div>
</div>