input[type="file"] {
  display: none;
}

.custom-file-input {
  // background-color: #0d89ec; 
  color: #495057;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  margin-right: 8px;
  margin-left: 46%;
  margin-top: 6%;
}
.card_footer{
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}
.uplodBtn_right{
  display: flex;
}
.upload_name{
  font-size: 16px;
  font-weight: bold;
  color: #2c83d7;
  position: relative;
  right: 10px;
}
.box{
  border: 1px solid #a6d5fa;;
  padding: 0;
  border-style: dashed;
  height: 150px;

}
.btn{
display: flex;
justify-content: space-between;
margin:2px
}
.container{
padding: 6px;
padding-left: 15px;

height: 60px;
}
:host ::ng-deep .p-paginator {
justify-content: flex-end;
}
