<div class="card">
    <div class="grid">
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input pInputText type="text" 
                    placeholder="Search Keyword" (input)="dt2.filterGlobal($event.target.value, 'contains')" />
            </span>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <button type="button" pButton pRipple label="Clear" class="mr-2 mb-2" (click)="clear(dt2)"></button>
            <button type="button" pButton pRipple label="Export" class="mr-2 mb-2" pTooltip="Export in Excel File" (click)="downloadExcel($event)"
                tooltipPosition="top"></button>
            <button type="button" pButton pRipple label=" Add " icon="pi pi-plus" class="mr-2 mb-2"
                (click)="showCreateFteDialog()"></button>
        </div>
    </div>


    <p-table #dt2 [value]="Ftedetails" responsiveLayout="scroll" scrollHeight="530px" styleClass="p-datatable-gridlines" [resizableColumns]="true"
    [globalFilterFields]="['status', 'region', 'country','location']" (onPage)="onPageChange($event)" (onSort)="onSort($event)" >
        <ng-template pTemplate="header">
            <tr>
            
                <th style="text-align: center;width: 50px" [frozen]="true" class="sticky-header">Action</th>
                <th pSortableColumn="status" style="width:30%; text-align: center;" class="sticky-header">Status
                    <p-sortIcon field="status"></p-sortIcon></th> 
                <th pSortableColumn="region"  style="text-align: center; width: 20%" class="sticky-header">Region <p-sortIcon field="region"></p-sortIcon>
                    <p-columnFilter type="text" display="menu" field="region.name" pTooltip="Filter" tooltipPosition="right"
                    class="column-filter icon-align"></p-columnFilter>
                </th>
                <th pSortableColumn="country" style="text-align: center;width:20%" class="sticky-header">Country  <p-sortIcon field="country"></p-sortIcon>
                    <p-columnFilter type="text" display="menu" field="country.name" pTooltip="Filter" tooltipPosition="right"
                    class="column-filter icon-align"></p-columnFilter>
                </th>
                <th pSortableColumn="location" style="text-align: center;width:20%" class="sticky-header">Location <p-sortIcon field="location"></p-sortIcon>
                    <p-columnFilter type="text" display="menu" field="location.name" pTooltip="Filter" tooltipPosition="right"
                    class="column-filter icon-align"></p-columnFilter>
                </th>
                <th pSortableColumn="name" style="text-align: center;width:20%" class="sticky-header">FTE/Month(USD) <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name" style="text-align: center;width:20%" class="sticky-header">FTE/Year(USD)<p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="name" style="text-align: center;width:30%" class="sticky-header">Working Time/Year (min)<p-sortIcon field="name"></p-sortIcon></th>
              
                <th pSortableColumn="createdBy" style="text-align: center;width:30%" class="sticky-header">Created By<p-sortIcon field="createdBy"></p-sortIcon></th>  
                <th pSortableColumn="name" style="text-align: center;width:30%" class="sticky-header">Created At
                    <p-sortIcon field="name"></p-sortIcon></th>  
                <th pSortableColumn="name" style="text-align: center;width:30%" class="sticky-header">Updated By
                        <p-sortIcon field="name"></p-sortIcon></th> 
                <th pSortableColumn="name" style="text-align: center;width:30%" class="sticky-header">Updated At
                            <p-sortIcon field="name"></p-sortIcon></th> 
    
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-fte>
            <tr>
               
                <td> 
                    <span style="cursor: pointer;" (click)="editFteRow(fte)"><i
                    class="pi pi-pencil"></i></span>&nbsp;
                </td>
                <td style="text-align: center; word-wrap: break-word;">
                    <p-tag [value]="getSeverityLabel(fte.status)" [severity]="getSeverity(fte.status)"></p-tag>
                </td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.region.name}}</td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.country.name}} <span [ngClass]="'flag-icon flag-icon-'+fte.country.code.toLowerCase()"></span></td>

                <td style="text-align: center; word-wrap: break-word;">{{fte.location.name}}</td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.monthlyCost | currency: 'USD'}}</td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.yearlyCost | currency: 'USD'}}</td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.yearlyWorkingMin | date:'mm' }} Minute</td>
                <td style="text-align: center; word-wrap: break-word;">{{fte.createdBy }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ fte.createdDate | date:'dd MMM yyyy' }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ fte.updatedBy }}</td>
                <td style="text-align: center; word-wrap: break-word;">{{ fte.updatedDate | date:'dd MMM yyyy'}}</td>
            </tr>
        </ng-template>Updated By
        <ng-template pTemplate="emptymessage">
            <tr>
                <td style="text-align: center;" colspan="18">No Data found.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="totalRecords"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10,25,50]" ></p-paginator>
</div>

<p-dialog header="Header" [(visible)]="displayCreateFteDialog" [modal]="true" [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">FTE</span>
        </div>
    </ng-template>
<div>
<form [formGroup]="FteForm">
    <div class="p-grid p-field">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label>Region<span class="required">*</span></label>
                <p-dropdown [options]="regionOptions" appendTo="body" [readonly]="editMode"
                    placeholder="Select Region" optionLabel="name" formControlName="region" optionValue="id" [filter]="true"
                    filterBy="name" [style]="{ 'width': '100%' }">
                </p-dropdown>
                <div *ngIf="FteForm.get('region')?.hasError('required') && FteForm.get('region')?.touched"
                    class="error-message">
                    Region is required.
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label>Country <span class="required">*</span></label>
                <p-dropdown [options]="countryOptions" appendTo="body" [readonly]="editMode"
                    placeholder="Select Country" optionLabel="name" optionValue="id" [filter]="true"
                    filterBy="name" [style]="{ 'width': '100%' }" formControlName="country">
                </p-dropdown>
                <div *ngIf="FteForm.get('country')?.hasError('required') && FteForm.get('country')?.touched"
                    class="error-message">
                    Country is required.
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label>Location <span class="required">*</span></label>
                <p-dropdown [options]="locationOptions" appendTo="body" [readonly]="editMode"
                    placeholder="Select Location" optionLabel="name" optionValue="id" [filter]="true"
                    filterBy="name" [style]="{ 'width': '100%' }" formControlName="location">
                </p-dropdown>
                <div *ngIf="FteForm.get('location')?.hasError('required') && FteForm.get('location')?.touched"
                    class="error-message">
                    Location is required.
                </div>
            </div>
            <div class="field col-12 md:col-6">
                <label>FTE/Month (USD)<span class="required">*</span></label>
                <input id="name" type="number"  placeholder="FTE/Month" formControlName="fte_month"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label>FTE/Year (USD)<span class="required">*</span></label>
                <input id="name" type="number"  placeholder="FTE/Year "  formControlName="ftf_year" [readonly]="editMode"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6">
                <label>Working Time/Year<span class="required">*</span></label>
                <input id="name" type="number"  placeholder="Working Time/Year" formControlName="Work_Time_Year"
                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
            </div>
            <div class="field col-12 md:col-6"
                    style="display: flex; flex-direction: column; align-items: flex-start;margin-top: 4px;">
                    <label>Status is Active?</label>
                    <div class="p-field-radiobutton" style=" margin-top: 3px;">
                        <div class="p-radio">
                            <p-radioButton name="status" value="active" label="Active"
                            formControlName="status"  ></p-radioButton>
                            <p-radioButton name="status" value="inactive" label="Inactive" formControlName="status"
                                style="margin-left: 25px;" ></p-radioButton>
                        </div>
                    </div>
                </div>
        </div>
        </div>
</form>
</div>
    <ng-template pTemplate="footer">
        <button type="button" pButton pRipple label="{{ editMode ? 'Update' : 'Add' }}" 
              (click)="addFteData()" [disabled]="!FteForm.valid"></button>&nbsp;&nbsp;
        <button pButton pRipple label="Cancel" (click)="cancelUpdate()"></button>
    </ng-template>
</p-dialog>


<p-toast></p-toast>