<div>
    <div style="display: flex;">
        <div class="md:col-6" style="padding: 0px !important">
            <h5 style="margin: 0;">Cost Line Item</h5>
        </div>
        <div class="md:col-6" style="display: flex; padding: 0px !important;
        justify-content: flex-end;">
        <div style="padding: 5px;"><button (click)="recalculateCLI(this.projectidVolume)" pButton pRipple type="button">Recalculate</button></div>
          <div style="padding: 5px;"><button pButton pRipple type="button" (click)="isExpanded = !isExpanded">
            {{ isExpanded ? 'Collapse All' : 'Expand All' }}</button></div>
            <div style="padding: 5px;"><button pButton pRipple type="button" (click)="downloadCLISCExcel($event,projectidVolume)">Download</button></div>
            <div style="padding: 5px;">
                <button pButton pRipple type="button" class="p-button-outlined mr-2 mb-2" (click)="showUploadDialog()">
                    Upload
                </button>
            </div>
        </div>
    </div>
    <hr style="margin-top: 1px;margin-bottom: 22px;color: gray;background-color: #d9d2d2;height: 1px;border: none;">
    <p style="font-weight: 500;"></p>
    <p-accordion [activeIndex]="0">
        <p-accordionTab *ngFor="let block of costLineItemDetails; let i = index" [header]="block.buildingBlockName" [selected]="isExpanded">
            <div *ngIf="block.originService?.processes?.length > 0 || block.destinationService?.processes?.length > 0">
                <div class="activeToggel">
                    <button class="toggleButton" type="button" [style.border-radius]="originButtonBorderRadius" [style.background-color]="originButtonColor" [style.border]="originButtonBorder" (click)="showOriginSectionCLI()"> Origin Location</button>
                    <button class="toggleButton" type="button" [style.border-radius]="destinationButtonBorderRadius" [style.background-color]="destinationButtonColor" [style.border]="destinationButtonBorder" (click)="showDestinationSectionCLI()"> Destination Location</button>
                </div>
                <div style="margin-top:10px;" *ngIf="showOriginCLI && block.originService?.processes.length > 0">
                    <p-accordion>
                        <ng-container *ngFor="let process of block.originService?.processes">
                       
                            <p-accordionTab  [header]="process.processName" [selected]="isExpanded">
                                <p-table [value]="process.lines" dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="text-align: center;width:7%">Action</th>
                                            <th style="text-align: center;width:7%">Configurable</th>
                                            <th style="text-align: center;width:7%">Location</th>
                                            <th style="text-align: center;width:7%">Volume</th>
                                            <th style="text-align: center;width:7%">UOM</th>
                                            <th style="text-align: center;width:7%">Takt</th>
                                            <th style="text-align: center;width:7%">Complexity</th>
                                            <th style="text-align: center;width:7%">Takt Considered</th>
                                            <th style="text-align: center;width:7%">Total Cost</th>
                                            <th style="text-align: center;width:7%">Total HC</th>
                                            <!-- <th style="text-align: center;width:7%">FTE Productivity(%)</th> -->
                                            <th style="text-align: center;width:7%">FTE Cost</th>
                                            <th style="text-align: center;width:7%">Comment</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body"  let-line let-editing="editing" let-ri="rowIndex">
                                        <tr [pEditableRow]="">
                                            <td>
                                                <div class="flex align-items-center justify-content-center">
                                                    <button *ngIf="!line.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(line)" class="p-button-rounded p-button-text"></button>
                                                    <button *ngIf="line.editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(line)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                                    <button *ngIf="line.editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(line, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                                </div>
                                            </td>
                                            <td style="text-align: center">{{ line.configurableName }}</td>
                                            <td style="text-align: center">{{ line.locationName }}</td>
                                            <td style="text-align: center">{{ line.volume }}</td>
                                            <td style="text-align: center">{{ line.uom }}</td>
                                            <td style="text-align: center">{{ line.takt }}</td>
                                            <td style="text-align: center">
                                                <ng-container *ngIf="!line.editing">{{ line.complexity }}</ng-container>
                                                <input pInputText *ngIf="line.editing" type="number" min="0" [(ngModel)]="line.complexity">
                                            </td>
                                            <td style="text-align: center">{{ line.taktConsidered }}</td>
                                            <td style="text-align: center">{{ line.totalCost }}</td>
                                            <td style="text-align: center">{{ line.totalHC }}</td>
                                            <!-- <td style="text-align: center">
                                                <ng-container *ngIf="!line.editing">{{ line.fteProductivity }}</ng-container>
                                                <input pInputText *ngIf="line.editing" type="number" min="0" [ngModel]="line.fteProductivity" (ngModelChange)="onFteProductivityChange($event)">
                                                <div *ngIf="isFteProductivityExceedsMax" style="color: red;" class="text-danger">Value cannot exceed 100</div>
                                            </td> -->
                                            <td style="text-align: center">{{ line.fteCost }}</td>
                                            <td style="text-align: center">{{ line.comment }}</td>
                                            
                                        </tr>
                                    </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td style="text-align: center;" colspan="18">No Data found.</td>
                                    </tr>
                                </ng-template>
                                </p-table>
                            </p-accordionTab>
                        
                        </ng-container>
                    </p-accordion>
                </div>
                <div style="margin-top:10px;" *ngIf="showDestinationCLI && block.destinationService?.processes.length > 0">
                    <p-accordion>
                        <ng-container *ngFor="let process of block.destinationService.processes">
                            
                                <p-accordionTab [header]="process.processName" [selected]="isExpanded">
                                    <p-table [value]="process.lines"  dataKey="id" editMode="row" [tableStyle]="{'min-width': '50rem'}">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th style="text-align: center;width:7%">Action</th>
                                                <th style="text-align: center;width:7%">Configurable</th>
                                                <th style="text-align: center;width:7%">Location</th>
                                                <th style="text-align: center;width:7%">Volume</th>
                                                <th style="text-align: center;width:7%">UOM</th>
                                                <th style="text-align: center;width:7%">Takt</th>
                                                <th style="text-align: center;width:7%">Complexity</th>
                                                <th style="text-align: center;width:7%">Takt Considered</th>
                                                <th style="text-align: center;width:7%">Total Cost</th>
                                                <th style="text-align: center;width:7%">Total HC</th>
                                                <!-- <th style="text-align: center;width:7%">FTE Prodcutivity(%)</th> -->
                                                <th style="text-align: center;width:7%">FTE Cost</th>
                                                <th style="text-align: center;width:7%">Comment</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body"  let-line let-editing="editing" let-ri="rowIndex">
                                            <tr [pEditableRow]="">
                                                <td>
                                                    <div class="flex align-items-center justify-content-center gap-2">
                                                        <button *ngIf="!line.editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInitDL(line)" class="p-button-rounded p-button-text"></button>
                                                        <button *ngIf="line.editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSaveDL(line)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                                        <button *ngIf="line.editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancelDL(line, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                                                    </div>
                                                </td>
                                            <td style="text-align: center">{{ line.configurableName }}</td>
                                            <td style="text-align: center">{{ line.locationName }}</td>
                                            <td style="text-align: center">{{ line.volume }}</td>
                                            <td style="text-align: center">{{ line.uom }}</td>
                                            <td style="text-align: center">{{ line.takt }}</td>
                                            <td style="text-align: center">
                                                <ng-container *ngIf="!line.editing">{{ line.complexity }}</ng-container>
                                                <input pInputText *ngIf="line.editing" min="0" type="number" [(ngModel)]="line.complexity"></td>
                                            <td style="text-align: center">{{ line.taktConsidered }}</td>
                                            <td style="text-align: center">{{ line.totalCost }}</td>
                                            <td style="text-align: center">{{ line.totalHC }}</td>
                                            <!-- <td style="text-align: center">
                                                <ng-container *ngIf="!line.editing">{{ line.fteProductivity }}</ng-container>
                                                <input pInputText *ngIf="line.editing" min="0" type="number" [(ngModel)]="line.fteProductivity" max="100"></td> -->
                                            <td style="text-align: center">{{ line.fteCost }}</td>
                                            <td style="text-align: center">{{ line.comment }}</td>
                                            </tr>
                                        </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td style="text-align: center;" colspan="18">No Data found.</td>
                                        </tr>
                                    </ng-template>
                                    </p-table>
                                </p-accordionTab>
                            
                        </ng-container>
                    </p-accordion>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
    
    <div class="col-12" style="display: flex;justify-content: flex-end;">
        <button pButton pRipple type="button" label="Save As Draft" 
            (click)="saveCostLineItemDetails()" *ngIf="projStatus !='Closed Won' && projStatus !='Close Lost'" class="p-button-outlined mr-2 mb-2"></button>
            <button type="submit" pButton pRipple label="Submit" [disabled]="true" class="mr-2 mb-2"></button>
            <!-- <button type="submit" pButton pRipple label="Continue" (click)="onClickContinue()" class="mr-2 mb-2"></button> -->
    </div>
</div>

<p-dialog header="Upload" [(visible)]="visible" [modal]="true"   [style]="{width: '50vw'}" >
    <!-- <div class="page-under-construction">
        <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
    </div> -->
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <!-- <a  style="text-decoration: underline;cursor: pointer;">Download Sample File</a> -->
              </h5>
        </div>
    </ng-template> 
    <hr>
    <div>
        <div class="p-fluid grid">
            <!-- Left Column -->
            <div class="col-12 md:col-12">
            <div class="custom-container">
                <h6><b>Instructions</b></h6>
                <ul class="list">
                <li>Maximum File Size: 5MB</li>
                <li>File Format: CSV,xlsx</li>
                </ul>
                <ol class="list" type="1">
                <li>Make sure to provide valid data</li>
                <li>Keep file name recognizable</li>
                </ol>
            </div>
            </div>
            <!-- Right Column -->
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <div  style="color: red;">
                        <!-- <b>Upload error: Review the file before uploading.</b>
                        <div *ngIf="!uploadError">
                            <div *ngIf="deliverablesError">{{ deliverablesError }}</div>
                        <div *ngIf="valueToPSABDPError">{{ valueToPSABDPError }}</div>
                        <div *ngIf="parametersError">{{ parametersError }}</div>
                        <div *ngIf="serviceDescriptionError">{{ serviceDescriptionError }}</div>
                        <div *ngIf="stakeholdersAudienceError">{{ stakeholdersAudienceError }}</div>
                        <div *ngIf="customerRequirementsError">{{ customerRequirementsError }}</div>
                        <div *ngIf="configurableError">{{ configurableError }}</div> 
                        </div>
                       
                        Add similar divs for other fields -->
                      </div>
                     
                    <div class="box">
                        <div class="card-body">
                        <div class="container">
                            
                            <label for="fileUpload" class="custom-file-input">
                                <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                <div class="upload_name">Upload</div>
                            </label>
                            <p style="text-align: center;">{{fileName}}</p>
                            <input type="file" id="fileUpload" (change)="onUploadExcel($event)"  style="display: none;" accept=".xlsx, .csv">
                        </div>
                        </div>
                    </div>
                    <p-progressBar *ngIf="uploadInProgress" mode="indeterminate" [style]="{'height': '6px', 'marginBottom':'1rem'}">
                    </p-progressBar>
                    <div class="card_footer">
                        <div>
                            <button type="submit" (click)="onRemoveClick()" [disabled]="!uploadFile" pButton pRipple class="p-button-outlined mr-2 mb-2">
                            Remove File
                        </button> 
                        </div>
                        <div class="uplodBtn_right">
                        <button type="submit" (click)="onSubmitUploadClick(this.projectidVolume)" pButton pRipple class="mr-2 mb-2">
                            Submit
                        </button>
                        <button type="submit" (click)="onPopupCancelClick()" [disabled]="!uploadFile" pButton pRipple class="p-button-outlined mr-2 mb-2">Cancel</button>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <div class="">
        </div>    

    </div>
</p-dialog>
<p-toast key="successToast" position="top-right"></p-toast>
<p-toast key="errorToast" position="top-right"></p-toast>