.p-accordion-toggle-icon {
    margin-right: 0.5rem;
    position: absolute;
    right: 0rem;
}
.activeToggel{
    display: flex;background-color: rgb(0, 110, 255);padding: 10px;width: 19rem;border-radius: 8px;cursor: pointer;
}
.toggleButton{
    cursor: pointer
}
input[type="file"] {
    display: none;
  }
  .excel-container {
    overflow-x: auto;
  }
  
  .excel-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .excel-table th, .excel-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .excel-table th {
    background-color: #f2f2f2;
  }
 
 .btn{
  display: flex;
  justify-content: space-between;
  margin:2px
 }

 
  .card_footer{
    margin-top: 11px;
    display: flex;
    justify-content: space-between;
  }
  .uplodBtn_right{
    display: flex;
  }
  .upload_name{
    font-size: 16px;
    font-weight: bold;
    color: #2c83d7;
    position: relative;
    right: 10px;
  }
  @media only screen and (max-width: 600px) {
    /* Add styles for small screens */
    .excel-container {
       overflow-x: auto; /* Enable horizontal scrolling if needed */
    }
  }