
:host ::ng-deep .p-paginator {
justify-content: flex-end;
}

.sticky-header {
position: sticky;
top: 0;
background-color: #f8f9fa;
z-index: 100;
}




.tag-success,
.tag-danger {
font-size: 12px;
padding: 4px 8px;
}

.success-statusR {
color: green;  
}

.danger-statusR {
color: red;    
}


.header-container {
  display: flex;
  align-items: center;
  height: 100%; /* Set a fixed height for the container */
}

.icon-container {
  display: flex;
  align-items: center;
}

.header-text {
  flex-grow: 1; /* Allow the header text to take remaining space */
}

.sort-icon,
.column-filter {
  height: 100%; /* Set a fixed height for both the sort icon and column filter */
  margin: 0; /* Remove any default margin */
}


.alignhr{
  margin-top: 0px;
  
}
.icon-align{
  position: relative;top: 3px;
}
.error-message {
  color: red;
}