<div class="grid">


    <div class="mt-4 side-padding col-12 md:col-10 col-offset-1">
        <h4 class="text-center mb-4">
            BDP SMART HUB END USER LICENSING AGREEMENT (EULA)
        </h4>

        <p>
            This End User Licensing Agreement ("Agreement") is a binding agreement between the individual (you) and/or
            entity accepting this End User License Agreement and any party on whose behalf the User is accessing BDP
            Websites and/or using the Software, Documentation and Data provided therein, (hereinafter referred to as
            "User”) and BDP International, Inc. its subsidiaries and affiliates (hereinafter referred to as “BDP”). This
            Agreement governs the User's relationship with BDP, as the provider of Smart Hub, <a
                href="https://hub.bdpsmart.com" target="_blank">https://hub.bdpsmart.com</a>, and any subsequently
            developed or updated sites and/or site locations operated by BDP (the "Websites"), and the User's use of the
            related Software, Documentation and Data.

        </p>

        <p>
            IMPORTANT - PLEASE READ THE TERMS OF THIS AGREEMENT CAREFULLY. BY ACCEPTING THIS AGREEMENT, (i)THE USER
            ACKNOWLEDGES HAVING READ AND UNDERSTOOD THIS AGREEMENT AND THAT THE USER, THE USER’S CUSTOMER, EMPLOYER, AND
            ANY OTHER THIRD PARTY ON WHOSE BEHALF THE USER UTILIZES THE WEBSITES, SOFTWARE AND/OR DATA, AGREE TO BE
            BOUND BY THIS AGREEMENT AND (ii) THE USER REPRESENTS THAT THE USER HAS THE AUTHORITY TO ENTER INTO THIS
            AGREEMENT. IF THE USER HAS IDENTIFIED THAT THE USER IS UTILIZING BDP’S WEBSITES, SOFTWARE AND DATA ON BEHALF
            OF ANY THIRD PARTY, THE USER REPRESENTS THAT THE USER HAS AUTHORITY TO ACT ON BEHALF OF THAT THIRD PARTY,
            AND TO BIND THAT THIRD PARTY TO THE TERMS OF THIS AGREEMENT. IF THE USER DOES NOT AGREE TO ALL TERMS AND
            CONDITIONS OF THIS AGREEMENT, OR IF THE USER DOES NOT HAVE SUCH AUTHORITY, THE USER MUST REFRAIN FROM
            INSTALLING OR USING THE SOFTWARE, WEBSITE, AND/OR DATA.
        </p>

        <p>
            <b>WARNING.</b> The User and any third parties on whose behalf the User utilizes the Websites, Software and
            Data, must exercise independent care and judgment before relying on information contained herein. Although
            BDP and its suppliers strive to ensure all information is correct and current, neither BDP nor any third
            parties that provide data for BDP’s Websites assume liability for detrimental reliance on the information
            provided. Trade requirements and circumstances may change with little or no prior notification, de-facto
            requirements in certain countries vary from official regulations, and particular shipments and/or importers
            may have special destination customs arrangements. BDP encourages all Users and third parties to check with
            the importer or its customs agent in the destination country for specific importation requirements for
            specific products and circumstances and with the carriers for details regarding the shipments and routes.
        </p>
        <p>
            <b>GRANT OF ACCESS.</b> Subject to and conditioned upon payment of any applicable fees for use of the
            Website, Software, Documentation and Data, from the date that the User accepts this Agreement, BDP grants to
            the User the right to use and access the Website, Software, and Data solely for the User and its business
            customers’ internal business purposes and in strict compliance with the terms and conditions set forth in
            this Agreement. No other rights are granted hereunder. The User warrants and agrees that the User has been
            granted authorization by their Principal, Customer, and/or employer to access the system and acknowledges
            that access may be revoked for violation of this Agreement or failure to pay the fees associated with such
            access. The User agrees to utilize their access only in accordance with this Agreement and their Principal
            and/or employer’s contract with BDP.
        </p>
        <p>
            <b>OWNERSHIP.</b> The User acknowledges and agrees that the Website, Software, Data, and provided
            documentation are provided under the grant of a right to access and use, and not sold, to the User and any
            third party for whom the User is accessing the Website, Software and Data . The User and any third party for
            whom the User is accessing the Website, Software and Data does not acquire any ownership interest in the
            Website, Software, Data, or Documentation under this Agreement, or any other rights thereto other than to
            use the same in accordance with the license granted, and subject to all terms, conditions, and restrictions,
            under this Agreement. BDP reserves and shall retain its entire right, title, and interest in and to the
            Websites, Documentation, Software, Data, and all intellectual property rights arising out of or relating to
            the Software, Data, Documentation and Websites, except as expressly granted to the User in this Agreement.
            The User shall use reasonable efforts to safeguard the Website, Documentation, Software and Data from
            infringement, misappropriation, theft, misuse, or unauthorized access.
        </p>
        <p>
            <b>USE RESTRICTIONS.</b> The rights granted by this Agreement are subject to the restrictions set forth in
            this section of this Agreement. The User shall not, and shall not permit any third parties on whose behalf
            the User utilizes the Websites, Software and Data, to directly or indirectly: (i) use (including make any
            copies of) the Software, Data, or Documentation beyond the scope of the rights granted under this Agreement;
            (ii) except as may be permitted by this Agreement and strictly in compliance with its terms, provide any
            third party, including any subcontractor, independent contractor, affiliate, or service provider of the
            User, with access to or use of the Software, Data, or Documentation; (iii) modify, translate, adapt, or
            otherwise create derivative works or improvements, whether or not patentable, of the Software, Data, or
            Documentation or any part thereof; (iv) combine the Software, Data, Documentation or any part thereof with,
            or incorporate the Websites, Software, Data, Documentation or any part thereof in, any other programs; (v)
            reverse engineer, disassemble, decompile, decode, or otherwise attempt to derive or gain access to the
            source code of the Software or the Data or any part thereof; (vi) remove, delete, alter, or obscure any
            trademarks or any copyright, trademark, patent, or other intellectual property or proprietary rights notices
            from the Software or Documentation, including any copy thereof; (vii) except as expressly set forth in this
            Agreement, copy the Software, Data, or Documentation, in whole or in part; or (viii) rent, lease, lend,
            sell, sublicense, assign, distribute, publish, transfer, or otherwise make available the Software, Data,
            Documentation or any features or functionality of the Software, to any third party for any reason, whether
            or not over a network and whether or not on a hosted basis, including in connection with the internet, web
            hosting, wide area network (WAN), virtual private network (VPN), virtualization, time-sharing, service
            bureau, software as a service, cloud, or other technology or service. Additionally, the User may not use the
            Websites, Software, Data and/or Documentation in violation of any federal, state or local law, regulation,
            or rule or use the Software for purposes of competitive analysis of the Software and/or Data, the
            development of a competing software product, data, or service or any other purpose that is to BDP's
            commercial disadvantage.
        </p>
        <p>
            <b>USER IDS REQUIRED.</b> User IDs are required to use the Software. User IDs are granted on an individual
            request basis and may grant varying degrees of access to applications available through the Software. BDP
            reserves the right to deny user IDs or access to certain applications to Users for any lawful reason. BDP
            may take up to three (3) business days to determine whether to grant certain Users a user ID or access to
            certain applications. Only one user ID shall be issued per User, and the User shall not, and shall require
            the User’s employees, representatives, customers and agents not to, directly or indirectly share login
            credentials. The User agrees to keep the User’s ID and password confidential and for personal use only. on
            behalf of the User and any third parties for whom the User is accessing the Website, Software and/or Data.
        </p>
        <p>
            <b>UPGRADES.</b> BDP may release upgrades for the Software and Website from time to time. Once an upgrade to
            the Software is released, BDP may choose not to support previous versions of the Software. The User agrees
            to install upgrades as required to access the Software and/or Data. Neither BDP nor any data providers are
            responsible for any interruptions in the operation of the Software due to the User's failure to use the most
            current version of the Software.
        </p>
        <p>
            <b>INDEMNITY:</b> The User agrees that the User and any third parties for whom the User is utilizing the
            Website, Software, Documentation and/or Data,.shall indemnify, defend, and hold BDP harmless for and against
            any and all, threatened or actual, liabilities, claims, costs, damages, attorneys’ fees, or demands made by
            any party of any kind whatsoever without limitation (collectively “Damages”), that may arise in any way as a
            result of the User (or any third parties for whom the User is accessing the Websites, Software,
            Documentation and/or Data) use of the Websites, Documentation, Software and Data, and shall further
            indemnify and hold harmless BDP for any and all damages arising from the User’s directions and/or
            instructions to BDP to provide access to the Websites and Software and Data therein to third parties. If a
            civil or administrative legal proceeding or claim action (including but not limited to litigation and
            arbitration) is commenced by any party against BDP arising from or related to the release of the information
            contemplated by this Agreement, BDP may, at its sole discretion and option, tender its defense to the User
            and to any third parties on whose behalf the User is accessing the Website, Software, Documentation and/or
            Data. In such a case, consistent with the foregoing paragraphs, the User and any third parties on whose
            behalf the User is accessing the Websites, Software, Documentation and/or Data shall (a) accept the tender,
            (b) defend BDP, provided that there is no legal conflict in a joint defense as determined by outside counsel
            for the User, (c) reimburse BDP for any expenses reasonably incurred in connection with such case, and (d)
            if any judgment or settlement ensues, pay damages and any other assessed costs in connection with such case.
            the User and any third parties for whom the User is accessing the Website, Software and/or Data agree that,
            in the event that BDP is involved in any dispute with any party related to the subject of this agreement the
            User and any third parties on whose behalf the User is accessing the Websites, Software and/or Data will
            cooperate with BDP in defending any such issues in a court of law or other forum, provided that there is no
            legal conflict in cooperating with such defense, as determined by outside counsel for the User and any third
            parties on whose behalf the User is accessing the Websites, Software, Documentation and/or Data.
        </p>
        <p>
            <b>DISCLAIMER OF WARRANTIES.</b> THE SOFTWARE AND THE DATA CONTAINED IN BDP’S WEBSITES IS PROVIDED TO THE
            USER ON AN "AS-IS" BASIS. BDP PROVIDES NO WARRANTIES OR REMEDIES FOR THE SOFTWARE AND/OR DATA. BDP AND ITS
            SUPPLIERS DISCLAIM ALL EXPRESS, IMPLIED, OR STATUTORY WARRANTIES RELATING TO THE LICENSED SOFTWARE AND DATA,
            INCLUDING BUT NOT LIMITED TO, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND
            NON-INFRINGEMENT. BDP DOES NOT WARRANT THAT USE OF THE SOFTWARE, WEBSITE, AND/OR DATA WILL BE UNINTERRUPTED
            OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE SOFTWARE IS FREE OF VIRUSES OR OTHER HARMFUL
            COMPONENTS. IF APPLICABLE LAW REQUIRES ANY WARRANTIES WITH RESPECT TO THE SOFTWARE, ALL SUCH WARRANTIES ARE
            LIMITED IN DURATION TO NINETY (90) DAYS FROM THE DATE OF INSTALLATION. THE USER ACKNOWLEDGES THAT NO
            REPRESENTATIONS AND/OR WARRANTIES ARE PROVIDED WITH REGARD TO ANY AND ALL DATA PROVIDED THROUGH BDP’s
            WEBSITES
        </p>
        <p>
            <b>LIMITATION OF REMEDIES AND DAMAGES.</b> TO THE MAXIMUM EXTENT PERMITTED BY LAW, NEITHER BDP NOR ITS
            SUPPLIERS AND/OR VENDORS SHALL BE RESPONSIBLE OR LIABLE FOR ANY DAMAGES OF ANY KIND IN CONNECTION WITH THIS
            AGREEMENT, UNDER ANY THEORY OF LIABILITY, WHETHER IN CONTRACTS, NEGLIGENCE, STRICT LIABILITY, OR OTHERWISE,
            INCLUDING, WITHOUT LIMITATION, (i) FOR LOSS OR INACCURACY OF DATA OR COST OF PROCUREMENT OF SUBSTITUTE
            GOODS, SERVICES, OR TECHNOLOGY, OR (ii) FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL
            DAMAGES INCLUDING, BUT NOT LIMITED TO, LOSS OF REVENUES AND LOSS OF PROFITS. CERTAIN STATES AND/OR
            JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES OR LIMITATION OF LIABILITY FOR INCIDENTAL OR
            CONSEQUENTIAL DAMAGES, SO THE EXCLUSIONS SET FORTH ABOVE MAY NOT APPLY TO CERTAIN USERS, BUT IN SUCH STATES
            AND/OR JURISDICTIONS, BDP AND SUPPLIER'S LIABILITY SHALL BE LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.
        </p>
        <p>
            <b>DEFEND, INDEMNIFY, AND HOLD HARMLESS.</b> THE USER AND ANY THIRD PARTIES FOR WHOM THE USER IS ACCESSING
            THE WEBSITE, SOFTWARE, DOCUMENTATION AND/OR DATA SHALL DEFEND, INDEMNIFY, AND/OR HOLD HARMLESS BDP AND ITS
            SOFTWARE, HOSTING AND DATA SUPPLIERS AND THEIR OFFICERS, EMPLOYEES, VENDORS, AND SUPPLIERS FROM ANY
            THIRD-PARTY THREATS, CLAIMS, DEMANDS, AND SUITS THAT ARE BASED IN ANY WAY ON THE USER'S OPERATION OR USE OF
            THE SOFTWARE, DOCUMENTATION, DATA AND/OR INSTRUCTIONS TO BDP ON THE USE OF, OR ACCESS TO, THE SOFTWARE
            AND/OR DATA.
        </p>
        <p>
            <b>CONTENT.</b> BDP does not control all content available through the Software and Websites and by using
            the Websites, Software and Documentation that the User and any third parties for whom the User is accessing
            the Websites, Software and/or Data agree that BDP and its suppliers do not guarantee and shall not have any
            obligation to verify or maintain the legality, accuracy, integrity, or quality of such content. BDP and its
            suppliers disclaim all liability for third party content and/or data, including content provided by the
            User, available through the Software. The User and any third parties for whom the User is accessing the
            Websites, Software and/or Data agree agrees that BDP may at any time and without notice to the User, remove
            any content which is submitted, uploaded, or supplied to the Software in violation of this Agreement or that
            is otherwise inappropriate for use in connection with the Software. The User and any third parties on whose
            behalf the User is accessing the Website, Software and/or Data is solely responsible for any content that
            the User uploads, transmits, or sends including but not limited to data, files, media, design, content,
            text, graphics, images or other information using the Software. This means that the User and any third
            parties on whose behalf the User is accessing the Website, Software and/or Data, and not BDP, is entirely
            responsible for all content that the User uploads or sends using the Software, and any other sender of
            content provided through Software, and the User is entirely responsible for all content that they may
            download or receive via the Software.
        </p>
        <p>
            <b>THIRD PARTY SOFTWARE AND DATA.</b> Any third-party data and/or software, including any third-party
            plug-ins or links to external websites, that may be provided with the Software is included for use at the
            User's option. The User and any third parties on whose behalf the User is accessing the Website, Software
            and/or Data utilizes such third-party software, websites, and services pursuant to the terms and conditions
            of such third party's license agreement(s). The BDP is not responsible for any third party's software and
            shall have no liability for the User's use of third-party software.
        </p>
        <p>
            <b>SECURITY, ENCRYPTION, AND CONFIDENTIALITY.</b> The User and any third parties for whom the User is
            accessing the Website, Software and/or Data are responsible for maintaining access to and security of their
            password, ID, account, and computer. The User is solely liable for unauthorized use of their password,
            account and computer. The User further agrees that the Software and Data is confidential information of BDP
            and that they will not disclose to or allow any other person, to view, access, or otherwise use the Software
            and Data using the User's password, account, or computer.

        </p>
        <p>
            <b>TERM AND TERMINATION.</b> This Agreement and the license granted hereunder are effective on the date the
            User accepts this Agreement and shall continue so long as the User continues to access or use the Software
            and for five (5) years following cessation of use. BDP may terminate this Agreement immediately upon notice
            to the User in the event that the User fails to make any required payment related to the Software, ceases to
            be an authorized user as determined by BDP, or in the event that the User breaches any terms of this
            Agreement. The User may terminate this Agreement at any time, with or without cause, by ceasing to use and
            destroying all copies of the Software from any and all of the User's devices. Upon termination, the license
            granted hereunder shall terminate and the User shall immediately cease use of the Software and shall
            immediately destroy any copies of the Software.
        </p>
        <p>
            <b>OTHER AGREEMENTS WITH BDP.</b> This Agreement supplements any other agreements that the User and the
            User’s Principal and/or employer may have with BDP. The User’s (and any third parties on whose behalf the
            User is accessing the Website, Software and/or Data) use of Software, Data, and/or Websites under the terms
            of this Agreement are conditioned upon their compliance with the terms of any other Agreement. The User and
            any third parties on whose behalf the User is accessing the Website, Software, Documentation and/or Data
            agrees that BDP shall have the right to update this End User License Agreement and the Terms and Conditions
            associated therewith.
        </p>
        <p>
            <b>MISCELLANEOUS.</b> This Agreement shall be governed by and interpreted in accordance with the laws of the
            Commonwealth of Pennsylvania without regard to its conflict of law provisions, and the federal laws of the
            United States, regardless of where the User is located. The User and any third parties on whose behalf the
            User is accessing the Website, Software, Documentation and/or Data expressly agrees that jurisdiction for
            any claim or dispute regarding this Agreement resides exclusively in the federal and state courts of the
            Commonwealth of Pennsylvania, and the User consents to the personal jurisdiction thereof. If a provision of
            this Agreement or a portion thereof is rendered invalid, void, unlawful, or unenforceable, the remaining
            provisions or portions thereof shall remain in full force and effect. A waiver by a party of any term,
            condition of, or breach of this Agreement in any one instance, shall not waive such term or condition or any
            subsequent breach thereof. No change, amendment, or waiver of any provision of this Agreement shall be
            effective unless in writing and duly executed by the party against whom enforcement is sought. The User may
            not assign or otherwise transfer this Agreement or any rights or obligations herein without the prior
            written consent of BDP. Any change of ownership or control of the User shall be deemed an assignment
            hereunder. This Agreement shall be binding upon and shall inure to the benefit of the parties, their
            successors, and permitted assigns. The parties act as independent contractors, and do not intend to create a
            joint venture, partnership, or any agency relationship. This Agreement sets forth the entire agreement of
            the parties and supersedes any and all prior agreements of the parties with respect to the transactions set
            forth herein.
        </p>
        <p>
            <b>CLIENT LISTING.</b> The User the User and any third parties for whom the User is accessing the Website,
            Software, Documentation and/or Data agree that the User is authorized to execute this Agreement on behalf of
            the entities listed below and any other subsequent third parties on whose behalf the User is accessing the
            Website, Documentation, Software and/or Data.
        </p>
        <p>
            <b>Last updated 07/31/2023</b>
        </p>
    </div>

</div>