<div class="card">
    <h5>Create Building Blocks</h5>
    <hr>
    <div class="p-fluid grid common-header">
        <div class="field master-dropdown">
            <label>Product Name<span class="requiredField">*</span></label><br>
            <p-dropdown [options]="procuctNamesOptions" (onChange)="onProductSelect($event)" id="product_name"
                [(ngModel)]="product_name" optionLabel="name" optionValue="id" placeholder="Select Product Name"
                [filter]="true" filterBy="name"></p-dropdown>
        </div>&nbsp;&nbsp;&nbsp;

        <div class="field master-dropdown">
            <label>Product Scope<span class="requiredField">*</span></label><br>
            <p-dropdown (onChange)="onScopeSelect($event)" [(ngModel)]="product_scope" [options]="procuctScopesOptions"
                optionValue="id" placeholder="Select Product Scope" inputId="dropdown2" optionLabel="name"
                [filter]="true" filterBy="name"></p-dropdown>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="field master-dropdown">
            <label>Product Category<span class="requiredField">*</span></label><br>
            <p-dropdown  [options]="procuctCategoryOptions" [(ngModel)]="product_category" optionValue="id"
                placeholder="Select Product Category" inputId="dropdown3" optionLabel="name" [filter]="true"
                filterBy="name"></p-dropdown>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="field master-dropdown">
            <label>Building Block Name<span class="requiredField">*</span></label><br>
            <input [(ngModel)]="building_block_name" placeholder="Enter Building Block Name" type="text" id="inputtext"
                pInputText>
        </div>&nbsp;&nbsp;&nbsp;
        <div class="field master-dropdown">
            <label>Charge Code</label><br>
            <p-dropdown [options]="chargecodeOptions" placeholder="Select Charge Code" optionValue="id"
                [(ngModel)]="charge_code" optionLabel="name"></p-dropdown>
        </div>
        <p-toast key="emptyToster"></p-toast>
    </div>
</div>
<div class="p-fluid grid">
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button" (click)="onCardClick('scoping')"
            [ngStyle]="{'border': showScopingCrad ? '1px solid #1B74C5' : 'none'}"
            class="p-button-outlined mr-2 mb-2 bbCard">
            <i class="pi pi-arrows-alt icon-with-margin"></i>
            Scoping Card
        </button>
    </div>
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button" (click)="onCardClick('operation')"
            [ngStyle]="{'border': showOperationCrad ? '1px solid #1B74C5' : 'none'}"
            class="p-button-outlined mr-2 mb-2 bbCard"> <i class="pi pi-cog icon-with-margin"></i>
            Operation Card</button>
    </div>
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button" (click)="onCardClick('commercial')"
            [ngStyle]="{'border': showCommercialCrad ? '1px solid #1B74C5' : 'none'}"
            class="p-button-outlined mr-2 mb-2 bbCard">
            <i class="pi pi-money-bill icon-with-margin"></i>
            Commercial Card</button>
    </div>
</div>
<div class="card" *ngIf="this.showScopingCrad==true">
    <div class="grid">
        <div class="col-6">
            <h5>Scoping Card</h5>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">

            <a (click)="showDialogScopingCard()" style="text-decoration: underline;">Upload</a>
        </div>
    </div>
    <hr class="align">
    <div class="p-fluid grid">
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Service Description<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="seervice_desc"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Value to PSA BDP<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="value_to_psa_bdp"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Customer Requirements<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="customer_requirement"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Parameters<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="parameters" [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Deliverables<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="deliverables"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Configurable<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="configurables"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Stakeholder/Audience<span class="requiredField">*</span></label></div><br>
            <p-editor placeholder="Add Your Description Here...." [(ngModel)]="stakeholders_audience"
                [style]="{'height':'220px'}">
                <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <select title="Text Alignment" class="ql-align">
                            <option selected>Gauche</option>
                            <option value="center" label="Center"></option>
                            <option value="right" label="Right"></option>
                            <option value="justify" label="Justify"></option>
                        </select>
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                        <button class="ql-list" value="bullet" title="Bulleted List"></button>
                        <button class="ql-list" value="ordered"></button>
                    </span>
                </ng-template>
            </p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Mode Of Transport<span class="requiredField">*</span></label></div><br>
            <p-multiSelect [options]="mot" placeholder="Select Mode Of Transport" optionValue="id"
                [(ngModel)]="selectedMod" optionLabel="name"></p-multiSelect>
        </div>
    </div>
    <div class="grid">
        <div class="col-6">
            <button pButton pRipple type="button" label="Cancel" (click)="confirm()"
                class="p-button-outlined mr-2 mb-2"></button>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <button pButton pRipple type="button" (click)="saveAsDraft()" label="Save As Draft"
                class="p-button-outlined mr-2 mb-2" *ngIf="!isSaveAsDraftDisabled()"></button>
            <button type="submit" pButton pRipple label="Continue" class="mr-2 mb-2"
                (click)="onContinueOp()"></button>
            <p-toast key="successToast"></p-toast>
            <p-toast key="errorToast"></p-toast>
        </div>
    </div>

</div>
<div class="card" *ngIf="this.showOperationCrad==true" style="height:auto;">
    <div class="grid">
        <div class="col-6">
            <h5>Operation Card</h5>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <a style="text-decoration: underline;" [pTooltip]="'Download Uploaded Operation Card File'"
                [tooltipPosition]="'top'" (click)="downloadOperationCardExcelFile($event)" *ngIf="showDownload" >Download
                Excel</a> &nbsp;&nbsp;
            <a (click)="showDialogOperationCard()" style="text-decoration: underline;" *ngIf="blockId">Upload</a>
        </div>
    </div>
    <hr class="align">
    <div *ngIf="!excelDataOpration" style="min-height: 669px;">
        <div style="margin-top: 90px;">
            <div style="display: flex;justify-content: center;">
                <img src="assets/layout/images/no-bb-found.svg" alt="No Building Blocks Found">
            </div><br>
            <div style="display: flex;justify-content: center;">
                <h4>No Preview To Show</h4>
            </div>
            <div style="display: flex;justify-content: center;">
                <h6>Select Upload to Upload the details</h6>
            </div>
        </div>
    </div>

    <div *ngIf="excelDataOpration">
        <h4 style="text-align: center;">Excel Preview</h4>
        <div class="excel-container" [style.min-height]="excelDataOpration.length ? '200px' : '100px'">
            <table class="excel-table">
                <thead>
                    <tr *ngFor="let headerRow of excelDataOpration.slice(0, 1)">
                        <th *ngFor="let headerCell of headerRow">{{ headerCell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of excelDataOpration.slice(1)">
                        <td *ngFor="let cell of row">{{ cell }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr class="align">
    <div class="grid">

        <div class="col-6">

            <button pButton pRipple type="button" label="Cancel" (click)="confirm()"
                class="p-button-outlined mr-2 mb-2"></button>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <button pButton pRipple type="button" (click)="saveAsDraft()" label="Save As Draft"
                *ngIf="!isSaveAsDraftDisabled()" class="p-button-outlined mr-2 mb-2"></button>
            <button type="submit" pButton pRipple label="Continue" class="mr-2 mb-2"
                (click)="onCardClick('commercial')"></button>
            <p-toast key="successToast"></p-toast>
            <p-toast key="errorToast"></p-toast>
        </div>
    </div>
</div>

<div class="card" *ngIf="this.showCommercialCrad==true">
    <!-- <div class="page-under-construction">
        <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
    </div> -->
    <div class="grid">
        <div class="col-6">
            <h5>Commercial Card</h5>
        </div>
        <div class="col-6" style="display: flex;justify-content: flex-end;">
            <a (click)="showDialogCommercialCard()" style="text-decoration: underline;">Upload</a>
        </div>
    </div>
    <hr class="align">

    <p-tabView [(activeIndex)]="activeIndex">
        <!-- General info tab view -->
        <p-tabPanel header="General Information">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Service Description<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="seervice_desc"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Customer Requirements<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="customer_requirement"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>PSA BDP Value Statement<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="cvalue_to_psa_bdp"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Mode Of Transport<span class="requiredField">*</span></label></div><br>
                    <p-multiSelect [options]="mot" optionValue="id" placeholder="Select Mode Of Transport"
                        [(ngModel)]="selectedMod" optionLabel="name"></p-multiSelect>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <button pButton pRipple type="button" label="Cancel" (click)="confirm()"
                        class="p-button-outlined mr-2 mb-2"></button>
                </div>
                <div class="col-6" style="display: flex;justify-content: flex-end;">
                    <button pButton pRipple type="button" label="Save As Draft" (click)="saveAsDraft()"
                        *ngIf="!isSaveAsDraftDisabled()" class="p-button-outlined mr-2 mb-2"></button>
                    <button type="button" pButton pRipple label="Continue" (click)="activeIndex = 1"
                        class="mr-2 mb-2"></button>
                    <p-toast key="successToast"></p-toast>
                    <p-toast key="errorToast"></p-toast>
                </div>
            </div>
        </p-tabPanel>
        <!--Commercial reference tab view -->
        <p-tabPanel header="Commercial Reference">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Standard Service<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="standard_service"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>SOW<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="sow"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Prerequisite Information<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="pre_requisite_info"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Combined Value<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="combined_value"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Do's<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="do_s"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Don'ts<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="don_s"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="heading"><label>Configurable<span class="requiredField">*</span></label></div><br>
                    <p-editor placeholder="Add Your Description Here...." [(ngModel)]="configurables"
                        [style]="{'height':'220px'}">
                        <ng-template pTemplate="header">
                            <span class="ql-formats">
                                <select title="Text Alignment" class="ql-align">
                                    <option selected>Gauche</option>
                                    <option value="center" label="Center"></option>
                                    <option value="right" label="Right"></option>
                                    <option value="justify" label="Justify"></option>
                                </select>
                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                <button class="ql-list" value="bullet" title="Bulleted List"></button>
                                <button class="ql-list" value="ordered"></button>
                            </span>
                        </ng-template>
                    </p-editor>
                </div>
            </div>
            <div class="grid">
                <div class="col-6">
                    <button pButton pRipple type="button" label="Cancel" (click)="confirm()"
                        class="p-button-outlined mr-2 mb-2"></button>
                </div>
                <div class="col-6" style="display: flex;justify-content: flex-end;">
                    <button pButton pRipple type="button" label="Save As Draft" (click)="saveAsDraft()"
                        *ngIf="!isSaveAsDraftDisabled()" class="p-button-outlined mr-2 mb-2"></button>
                    <button type="submit" pButton pRipple label="Submit" (click)="saveAsBuildingBlock()"
                        class="mr-2 mb-2"></button>
                    <p-toast key="successToast"></p-toast>
                    <p-toast key="errorToast"></p-toast>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>

</div>
 
<!-- import from excel dialog(Scoping Card) -->
<p-dialog header="Upload Excel" [(visible)]="visibleSC" [style]="{width: '50vw'}">
    <!-- <div class="page-under-construction">
        <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
    </div> -->
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <a href="#" (click)="downloadSampleSCExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a>
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <!-- Left Column -->
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>File Format: CSV,xlsx</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure to provide valid data</li>
                        <li>Keep file name recognizable</li>
                    </ol>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <div *ngIf="showUploaderror" style="color: red;">
                        <b>Upload error: Review the file before uploading.</b>
                        <div *ngIf="!uploadError">
                            <div *ngIf="deliverablesError">Deliverables&nbsp;:&nbsp;{{ deliverablesError }}</div>
                            <div *ngIf="valueToPSABDPError">Value to PSA BDP&nbsp;:&nbsp;{{ valueToPSABDPError }}</div>
                            <div *ngIf="parametersError">Parameters:&nbsp;{{ parametersError }}</div>
                            <div *ngIf="serviceDescriptionError">Service Description&nbsp;:&nbsp;{{ serviceDescriptionError }}</div>
                            <div *ngIf="stakeholdersAudienceError">Stakeholders / Audience&nbsp;:&nbsp;{{ stakeholdersAudienceError }}</div>
                            <div *ngIf="customerRequirementsError">Customer Requirements&nbsp;:&nbsp;{{ customerRequirementsError }}</div>
                            <div *ngIf="configurableError">Configurable&nbsp;:&nbsp;{{ configurableError }}</div>
                            <div *ngIf="scopingCardExcelFileError">Scoping Card Excel File Error: {{ scopingCardExcelFileError }}</div>
                        </div>

                        <!-- Add similar divs for other fields -->
                    </div>
                    <div *ngIf="uploadError" style="color: red;">
                        {{ uploadError }}
                    </div>
                    <div class="box">
                        <div class="card-body">
                            <div class="container">

                                <label for="fileUpload" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameSC}}</p>
                                <input type="file" id="fileUpload" (change)="onUploadSCExcel($event)"
                                    style="display: none;" accept=".xlsx, .csv">
                            </div>
                        </div>
                    </div>
                    <p-progressBar *ngIf="uploadInProgress" mode="indeterminate"
                        [style]="{'height': '6px', 'marginBottom':'1rem'}">
                    </p-progressBar>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="p-button-outlined mr-2 mb-2" [disabled]="!uploadFilesc"
                                (click)="onCancelClickSC()">
                                Remove File
                            </button> 
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="mr-2 mb-2" [disabled]="!uploadFilesc"
                                (click)="makeScopingCardApiServiceCall()">
                                Submit
                            </button>
                            <button type="submit" (click)="onPopupCancelSCClick()" pButton pRipple
                                class="p-button-outlined mr-2 mb-2">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        </div>

    </div>
</p-dialog>
<!-- import from excel dialog(Commercial Card) -->
<p-dialog header="Upload Excel" [(visible)]="visibleCC" [style]="{width: '50vw'}">
    <!-- <div class="page-under-construction">
        <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
    </div> -->
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <a href="#" (click)="downloadSampleCCExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a>
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <!-- Left Column -->
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>File Format: CSV,xlsx</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure Data's are validated</li>
                        <li>Keep file name recognizable</li>
                        <li>Avoid uploading incomplete file</li>
                    </ol>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <div *ngIf="showUploaderror" style="color: red;">
                        <b>Upload error: Review the file before uploading.</b>
                        <div *ngIf="uploadError" style="color: red;">
                            {{ uploadError }}
                        </div>
                    </div>
                    <div class="box">
                        <div class="card-body">
                            <div class="container">

                                <label for="fileUpload" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameCC}}</p>
                                <input type="file" id="fileUpload" (change)="onUploadCCExcel($event)"
                                    style="display: none;" accept=".xlsx, .csv">
                            </div>
                        </div>
                    </div>
                    <p-progressBar *ngIf="uploadInProgress" mode="indeterminate"
                        [style]="{'height': '6px', 'marginBottom':'1rem'}">
                    </p-progressBar>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="p-button-outlined mr-2 mb-2" [disabled]="!uploadFilecc"
                                (click)="onCancelClickCC()">
                                Remove File
                            </button>
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="mr-2 mb-2" [disabled]="!uploadFilecc"
                                (click)="makeCommercialCardApiServiceCall()">
                                Submit
                            </button>
                            <button type="submit" (click)="onPopupCancelCClick()" pButton pRipple
                            class="p-button-outlined mr-2 mb-2">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
        </div>


    </div>
</p-dialog>
<!-- import from excel dialog(Operation Card) -->
<p-dialog header="Upload Excel" [(visible)]="visibleOperationBox" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <a href="#" (click)="downloadSampleOpExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a>
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>File Format: xlsx</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure to provide valid data</li>
                        <li>Keep file name recognizable</li>
                    </ol>
                </div>
            </div>
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <div *ngIf="showUploaderror" style="color: red;">
                        Upload error: All fields empty or exceeds 1000 characters. Review the file before uploading.
                    </div>
                    <div class="box">
                        <div class="card-body">
                            <div class="container">
                                <label for="fileInput" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameOC}}</p>
                                <input type="file" id="fileInput" (change)="onFileSelected($event)"
                                    style="display: none;" accept=".xlsx">
                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="p-button-outlined mr-2 mb-2" [disabled]="!selectedFile"
                                (click)="onRemoveOperationClick()">
                                Remove File
                            </button>
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="mr-2 mb-2" [disabled]="!selectedFile"
                                (click)="onUploadClick($event)">
                                Submit
                            </button>
                            <button type="submit" (click)="onOperarationCancelClick()" pButton pRipple
                            class="p-button-outlined mr-2 mb-2">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add this inside your p-dialog or any suitable place -->


</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
