<div class="card">
    <h5>Create Building Blocks</h5>
    <hr>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-3">
            <label>Product Name</label>
            <p-dropdown placeholder="Select Product Name" inputId="dropdown1"  optionLabel="pName"></p-dropdown> 
        </div>
        <div class="field col-12 md:col-3">
                <label>Product Scope</label>
                <p-dropdown placeholder="Select Product Scope" inputId="dropdown2"  optionLabel="pScope"></p-dropdown> 
        </div>
        <div class="field col-12 md:col-3">
            <label>Product Category</label>
            <p-dropdown [(ngModel)]="product_category" placeholder="Select Product Category" inputId="dropdown3"  optionLabel="pCategory"></p-dropdown> 
        </div>
        <div class="field col-12 md:col-3">
                <label>Building Block Name</label>
                <input placeholder="Enter Building Block Name" type="text" id="inputtext" pInputText > 
        </div>
        <!-- <div class="field col-12 md:col-3">
            <label for="Template Name">Charge Code</label>
            <p-dropdown placeholder="Select Charge Code" inputId="dropdown"  optionLabel="name"></p-dropdown> 
        </div> -->
    </div>
</div>
<div class="p-fluid grid">
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button"  (click)="onScopingCardClick()" label="Scoping Card" class="p-button-outlined mr-2 mb-2 bbCard"></button>
    </div>
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button" (click)="onOperationCardClick()"  label="Operation Card" class="p-button-outlined mr-2 mb-2 bbCard"></button>
    </div>
    <div class="col-12 md:col-4">
        <button pButton pRipple type="button" (click)="onCommercialCardClick()"  label="Commercial Card" class="p-button-outlined mr-2 mb-2 bbCard"></button>
    </div>
</div>
<div class="card" *ngIf="this.showScopingCrad==true">
    <div class="grid">
        <div class="col-6">
            <h5>Scoping Card</h5>
        </div>
       <div class="col-6" style="display: flex;justify-content: flex-end;">
        <a (click)="showDialog()" style="text-decoration: underline;">Import From Excel</a>
       </div>
    </div>
    <hr>
    <div class="p-fluid grid">
        <div class="field col-12 md:col-6">
                <div class="heading"><label>Service Description</label></div><br>
                <p-editor  [style]="{'height':'220px'}" ></p-editor> 
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Value to PSA BDP</label></div><br>
            <p-editor   [style]="{'height':'220px'}"></p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Customer Requirements</label></div><br>
            <p-editor  [style]="{'height':'220px'}" ></p-editor> 
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Parameters</label></div><br>
            <p-editor   [style]="{'height':'220px'}"></p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Deliverables</label></div><br>
            <p-editor  [style]="{'height':'220px'}" ></p-editor> 
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Configuriable</label></div><br>
            <p-editor   [style]="{'height':'220px'}"></p-editor>
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Stakeholder/Audience</label></div><br>
            <p-editor  [style]="{'height':'220px'}" ></p-editor> 
        </div>
        <div class="field col-12 md:col-6">
            <div class="heading"><label>Mode Of Transport</label></div><br>
            <p-multiSelect [options]="cities" placeholder="Select Mode Of Transport" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>
        </div>
    </div>
    <div style="padding-top: 29px;display: flex;justify-content: flex-end;">
        <button pButton pRipple type="button" label="Save As Draft" class="p-button-outlined mr-2 mb-2"></button>
        <button pButton pRipple label="Continue" class="mr-2 mb-2"></button>
    </div>
</div>
<div class="card" *ngIf="this.showOperationCrad==true" style="display: flex;justify-content: center;height: 33rem;">
    <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
</div>
<!-- <div class="card" *ngIf="this.showCommercialCrad==true">
    <div class="card">
        <p-toast></p-toast>
        <p-steps [model]="routeItems" (click)="showCommercialCrad()" styleClass="mt-5" [readonly]="false"></p-steps>
    </div>
    <router-outlet></router-outlet>   
</div> -->
<div class="card" *ngIf="this.showCommercialCrad==true" style="display: flex;justify-content: center;height: 33rem;">
    <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
</div>

<!-- import from excel dialog -->
<p-dialog header="Import Excel" [(visible)]="visible" [style]="{width: '70vw'}">
    <div style="display: flex;justify-content: center;height: 33rem;">
        <img src="assets/layout/images/page-under-construction.jpg" alt="No Building Blocks Found">
    </div>
</p-dialog>
