@media only screen and (max-width: 1440px) {
    #heading {
        font-size: 17px;
    }
}
/* @media only screen and (max-width:1424px) {
    #heading {
        font-size: 7px;
    }
} */
#heading{
    font-size: 18px;
}