#heading {
    font-size: 18px;
}

@media only screen and (max-width: 1466px) {
    #heading {
        font-size: 14px;
    }
}

/* @media only screen and (max-width:1424px) {
    #heading {
        font-size: 7px;
    }
} */