<div class="grid p-fluid">
    <div class="col-12 md:col-3">
        <div class="card" style="min-height: 669px;">
            <div class="grid" style="margin-top: 4px;">
                <div class="col-6">
                    <h4 id="heading"><b>Building Blocks</b></h4>
                </div>
                <div style="display: flex;justify-content: end;" class="col-6">
                    <button pButton pRipple [routerLink]="['/create-buildingblocks']" class="mr-2 mb-2 new-button"> <i
                            class="pi pi-plus icon-with-margin"></i>
                        New</button>

                </div>
                <div class="col-12">
                    <span class="p-input-icon-left" style="margin-top: -19px;">
                        <i class="pi pi-search"></i>
                        <input type="text" pInputText placeholder="Search..." [(ngModel)]="searchText"
                            (input)="onSearchChange()" />
                    </span>
                </div>
                <div class="col-12">
                    <p-tabView>
                        <p-tabPanel header="Building Blocks">
                            <p-tree [value]="treeDataNew" [selectionMode]="'single'"
                                (onNodeSelect)="onNodeSelect($event)">
                                <ng-template let-node pTemplate="default">
                                    <span>

                                        <!-- Add icons for each child based on the item type -->
                                        <span *ngIf="node.data?.type === 1" class="fas fa-folder"></span>
                                        <span *ngIf="node.data?.type === 2" class="fa-regular fa-folder"></span>
                                        <span *ngIf="node.data?.type === 3" class="far fa-folder-open"></span>
                                        <span *ngIf="node.data?.type === 4" class="fas fa-boxes"></span>
                                        {{ node.label }}
                                    </span>
                                </ng-template>
                            </p-tree>
                            <!-- <div style="margin-top: 115px;">
                                <div style="display: flex;justify-content: center;">
                                    <h5>There Is No Available Data</h5>
                                </div>
                                <div style="display: flex;justify-content: center;">
                                    <h6>Create Building Blocks To Show</h6>
                                </div>
                            </div> -->
                            <!-- <div>
                                 <p-tree [value]="files1"  [(selection)]="selectedFiles1"></p-tree>
                            </div> -->
                        </p-tabPanel>
                        <p-tabPanel header="Drafts">
                            <!-- <div style="margin-top: 115px;"> -->
                            <p-tree [value]="treeData" [selectionMode]="'single'" (onNodeSelect)="onNodeSelect($event)">
                                <ng-template let-node pTemplate="default">
                                    <span>
                                        <!-- Add icons for each child based on the item type -->
                                        <span *ngIf="node.data?.type === 1" class="fas fa-folder"></span>
                                        <span *ngIf="node.data?.type === 2" class="fa-regular fa-folder"></span>
                                        <span *ngIf="node.data?.type === 3" class="far fa-folder-open"></span>
                                        <span *ngIf="node.data?.type === 4" class="fas fa-boxes"></span>
                                        {{ node.label }}
                                    </span>
                                </ng-template>
                            </p-tree>
                            <div *ngIf="loading" class="loader-overlay">
                                <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                            </div>
                            <!-- </div> -->



                            <!-- <div style="margin-top: 115px;">
                                <div style="display: flex;justify-content: center;">
                                    <h5>There Is No Available Data</h5>
                                </div>
                                <div style="display: flex;justify-content: center;">
                                    <h6>Create Building Blocks To Show</h6>
                                </div>
                            </div> -->
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-9">
        <ng-container *ngIf="!selectedNode">
            <div class="card" style="min-height: 669px;">
                <div style="margin-top: 58px;">
                    <div style="display: flex;justify-content: center;">
                        <img src="assets/layout/images/no-bb-found.svg" alt="No Building Blocks Found">
                    </div><br>
                    <div style="display: flex;justify-content: center;">
                        <h4>No Preview To Show</h4>
                    </div>
                    <div style="display: flex;justify-content: center;">
                        <h6>Select a Building blocks to view the details</h6>
                    </div>
                    <div style="display: flex;justify-content: center;"><a [routerLink]="['/create-buildingblocks']"
                            style="text-decoration: underline;">Create Building Blocks</a></div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="selectedNode">
            <div class="card">
                <div class="p-fluid grid" style="margin-top: 5px;margin-bottom: -19px;">
                    <div class="col-12 md:col-11">
                        <h3>{{ buildingBlockDetails?.data?.product?.name }} - {{ buildingBlockDetails?.data?.scope?.name
                            }} - {{
                            buildingBlockDetails?.data?.category?.name }} - {{ buildingBlockDetails?.data?.name }}</h3>
                    </div>
                    <div class="col-12 md:col-1">
                        <button pButton pRipple type="button" label="Edit" class="p-button-outlined mr-2 mb-2"
                            [routerLink]="['/create-buildingblocks', buildingBlockDetails?.data?.id]"></button>
                    </div>
                </div>
                <hr>
                <div class="p-fluid grid">
                    <div class="col-12 md:col-2">
                        <label><b>Product Name</b></label><br>
                        <label>{{ buildingBlockDetails?.data?.product?.name }}</label>
                    </div>
                    <div class="col-12 md:col-2">
                        <label><b>Product Scope</b></label><br>
                        <label>{{ buildingBlockDetails?.data?.scope?.name }}</label>
                    </div>
                    <div class="col-12 md:col-3">
                        <label><b>Product Category</b></label><br>
                        <label>{{ buildingBlockDetails?.data?.category?.name }}</label>
                    </div>
                    <div class="col-12 md:col-3">
                        <label><b>Building Block Name</b></label><br>
                        <label>{{ buildingBlockDetails?.data?.name }}</label>
                    </div>
                    <div class="col-12 md:col-2">
                        <label><b>Charge Code</b></label><br>
                        <label>{{ buildingBlockDetails?.data?.chargeCode?.name || 'N/A' }}
                        </label>
                    </div>
                </div>
            </div>

            <div class="p-fluid grid">
                <div class="col-12 md:col-4">
                    <button pButton pRipple type="button" (click)="onCardClick('scoping')" [ngStyle]="{'border': showScopingCrad ? '1px solid #1B74C5' : 'none'}"
                        class="p-button-outlined mr-2 mb-2 bbCard">
                        <i class="pi pi-arrows-alt icon-with-margin"></i>
                        Scoping Card
                    </button>
                </div>
                <div class="col-12 md:col-4">
                    <button pButton pRipple type="button" (click)="onCardClick('operation')" [ngStyle]="{'border': showOperationCrad ? '1px solid #1B74C5' : 'none'}"
                        class="p-button-outlined mr-2 mb-2 bbCard"> <i class="pi pi-cog icon-with-margin"></i>
                        Operation Card</button>
                </div>
                <div class="col-12 md:col-4">
                    <button pButton pRipple type="button" (click)="onCardClick('commercial')" [ngStyle]="{'border': showCommercialCrad ? '1px solid #1B74C5' : 'none'}"
                        class="p-button-outlined mr-2 mb-2 bbCard">
                        <i class="pi pi-money-bill icon-with-margin"></i>
                        Commercial Card</button>
                </div>
            </div>
            <!-- scoping card details -->
            <div class="card" *ngIf="this.showScopingCrad==true">
                <div class="grid">
                    <div class="col-6">
                        <h5>Scoping Card</h5>
                    </div>
                    <div class="col-6" style="display: flex;justify-content: flex-end;">
                        <p-button (click)="isExpanded = !isExpanded" class="p-button-outlined"
                            label="{{ isExpanded ? 'Collapse All' : 'Expand All' }}"></p-button>
                    </div>
                </div>
                <hr class="align">
                <p-accordion [multiple]="true">
                    <p-accordionTab header="Service Description" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.serviceDescription"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Value To PSA BDP" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.valueToPsaBdp"></div>
                        <!-- <p>{{ buildingBlockDetails?.data?.scopingCard?.valueToPsaBdp }}</p> -->
                    </p-accordionTab>
                    <p-accordionTab header="Customer Requirements" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.customerRequirement"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Parameters" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.parameter"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Deliverables" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.deliverable"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Configurable" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.configurable"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Mode Of Transport" [selected]="isExpanded">
                        <ng-container *ngFor="let mode of buildingBlockDetails?.data?.modeOfTransport">
                            <p>{{ mode?.name }}</p>
                        </ng-container>
                    </p-accordionTab>
                    <p-accordionTab header="Stakeholder / Audience" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.stakeHolder"></div>
                    </p-accordionTab>
                </p-accordion>
            </div>
            <!-- Operation card details -->
            <div class="card" *ngIf="this.showOperationCrad==true">
                <div class="grid">
                    <div class="col-6">
                        <h5>Operation Card</h5>
                    </div>
                    <div class="col-6" style="display: flex;justify-content: flex-end;">
                        <a style="text-decoration: underline;">Import From Excel</a>
                    </div>
                </div>
                <hr class="align">
            </div>
            <!-- commercial card details -->
            <div class="card" *ngIf="this.showCommercialCrad==true">
                <div class="grid">
                    <div class="col-6">
                        <h5>Commercial Card</h5>
                    </div>
                    <div class="col-6" style="display: flex;justify-content: flex-end;">
                        <p-button (click)="isExpanded = !isExpanded" class="p-button-outlined"
                            label="{{ isExpanded ? 'Collapse All' : 'Expand All' }}"></p-button>
                    </div>
                </div>
                <hr class="align">
                <h6><b>General Information</b></h6>
                <p-accordion [multiple]="true">
                    <p-accordionTab header="Service Description" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.serviceDescription"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Customer Requirement" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.scopingCard?.customerRequirement"></div>
                    </p-accordionTab>
                    <p-accordionTab header="PSA BDP Value Statement" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.psaBdpValueStatement"></div>
                    </p-accordionTab>
                </p-accordion>
                <h6><b>Commercial Reference</b></h6>

                <p-accordion [multiple]="true">
                    <p-accordionTab header="Standard Service" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.standardService"></div>
                    </p-accordionTab>
                    <p-accordionTab header="SOW" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.sow"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Pre-requisite Information" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.prerequisiteInfo"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Combined Value" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.combinedValue"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Do's" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.dos"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Dont's" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.donts"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Configurable" [selected]="isExpanded">
                        <div [innerHTML]="buildingBlockDetails?.data?.commercialCard?.configurable"></div>
                    </p-accordionTab>
                    <p-accordionTab header="Mode Of Transport" [selected]="isExpanded">
                        <ng-container *ngFor="let mode of buildingBlockDetails?.data?.modeOfTransport">
                            <p>{{ mode?.name }}</p>
                        </ng-container>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </ng-container>
    </div>

</div>