<div *ngIf="projectInfo!=null">

    <div style="display: flex;">
        <div class="md:col-6" style="padding: 0px !important">
            <h5 style="margin: 0;">Project Cost</h5>
        </div>
        <div class="md:col-6" style="display: flex; padding: 0px !important;
        justify-content: flex-end;">
            <div style="padding: 5px;"><button pButton pRipple type="button"  label="Download As Pdf" (click)="downloadAsPdf()"></button></div>
        </div>
    </div>
    <hr style="margin-top: 1px;margin-bottom: 22px;color: gray;background-color: #d9d2d2;height: 1px;border: none;">
    <div id="pdfContent"> 
    <div class="activeToggel">
            <div style="margin-left: 12px;">
                <button class="toggleButton" type="button" [style.border-radius]="originButtonBorderRadius"
                    [style.background-color]="originButtonColor" [style.border]="originButtonBorder"
                    (click)="shoSOWSection()">SOW</button>
                <button class="toggleButton" type="button" [style.border-radius]="destinationButtonBorderRadius"
                    [style.background-color]="destinationButtonColor" [style.border]="destinationButtonBorder"
                    (click)="showplStatement()">P & L Statement</button>
            </div>
        </div>
        <div>
            <h5 style="margin-top: 12px;">Project Information</h5>
        </div>
        <div class="p-fluid grid">
            <div class="col-12 md:col-4">
                <label><b>Company Name</b></label><br>
                <label>{{projectInfo?.company?.name}}</label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Company Code</b></label><br>
                <label>{{projectInfo?.customerCode}}</label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Industry Vertical</b></label><br>
                <label>{{projectInfo?.industryVertical?.name}}</label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Region</b></label><br>
                <label>{{projectInfo?.region?.name}}</label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Opportunity Name</b></label><br>
                <label>{{projectInfo?.opportunityName?.name}}
                </label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Opportunity Manager</b></label><br>
                <label>{{ getOpportunityManagerNames(projectInfo?.opportunityManager) }}</label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Project Stage</b></label><br>
                <label>{{projectInfo?.projectStage?.name}}
                </label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Project Status</b></label><br>
                <label>{{projectInfo?.projectStatus?.name}}
                </label>
            </div>
            <div class="col-12 md:col-4">
                <label><b>Status Date</b></label><br>
                <label>{{projectInfo?.startDate | date:'dd MMM yyyy'}}
                </label>
            </div>
        </div>
        <hr style="margin-top: 1px;margin-bottom: 22px;color: gray;background-color: #d9d2d2;height: 1px;border: none;">
        <div>
            <h5 style="margin-top: 12px;">Project Scope</h5>
        </div>
        <!-- <div class="p-fluid grid">
            <div class="col-12 md:col-4">
                <label><b>Mode Of Transport:</b></label>&nbsp;
                <label>Ocean & Air</label>
            </div>
        </div> -->
        <div>
           <p-table [value]="getSavedBlockslist?.buildingBlocks" dataKey="buildingBlockId" editMode="row"
                [tableStyle]="{'min-width': '50rem'}"> <ng-template pTemplate="header">
                    <tr>
                        <th style="width:20%">Service</th>
                        <th style="width:30%">Service Description</th>
                        <th style="width:10%">Service Steps</th>
                        <th style="width:10%" colspan="3">Configurable</th>
                        <th style="width:10%" colspan="3">Location</th>
                        <th style="width:10%">Origin/Destination</th>
                        <th style="width:10%">Remarks</th>
                    </tr>
                </ng-template> <ng-template pTemplate="body" let-block let-ri="rowIndex">
                    <tr>
                        <td> <span>{{block?.buildingBlockName}}</span> </td>
                        <td>
                        <span [innerHTML]="block?.serviceDescription" style="padding-top: 4px;"></span>
                        </td>
                        <td>
                            <div *ngFor="let process of block.processes">
                                <div>
                                    <p>{{process?.processNumber}}. {{process?.processName}}</p>
                                </div>
                            </div>
                        </td>
                        <td colspan="3">
                            <div *ngFor="let config of block.processes[ri].originService?.configurations">
                                <span>{{config.configurableName}}</span>
                            </div>
                        </td>
                        <td colspan="3">
                            <div *ngFor="let config of block.processes[ri].originService?.configurations">
                                <div *ngFor="let location of config.locations"> <span>{{location.locationName}}</span> </div>
                            </div>
                        </td>
                      
                        <td> 
                            Origin/Destination
                        </td>
                        <td> NA </td>
                    </tr>
                </ng-template> <ng-template pTemplate="emptymessage">
                    <tr>
                        <td style="text-align: center;" colspan="11">No Data found.</td>
                    </tr>
                </ng-template> </p-table>
                
        </div>

        <hr style="margin-top: 1px;margin-bottom: 22px;color: gray;background-color: #d9d2d2;height: 1px;border: none;">
        <div class="p-fluid grid">
            <div class="col-12">
                <label><b>Implementation Notes</b></label><br>
                <span>
                    {{projectInfo?.implementationNote}}
                </span>
            </div>
            <div class="col-12">
                <label><b>Design Notes</b></label><br>
                <span>
                    {{projectInfo?.designNote}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-12" style="display: flex;justify-content: flex-end;">
        <!-- <button pButton pRipple type="button" label="Download As Pdf" (click)="downloadAsPdf()"
            class="p-button-outlined mr-2 mb-2"></button> -->
        <button type="submit" pButton pRipple label="Continue" (click)="goToNextTab()" class="mr-2 mb-2"></button>
    </div>


</div>