.activeToggel {
    display: flex;
    background-color: rgb(0, 110, 255);
    padding: 10px;
    width: 19rem;
    border-radius: 8px;
    cursor: pointer;
}

.toggleButton {
    cursor: pointer
}

.blue-header {
    color: #1d2125;
}

.block-header {
    background-color: #007bff;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-green {
    color: rgb(45, 161, 64);
}

.text-grey {
    color: grey;
    pointer-events: none;
}

.text-blue {
    color: rgb(0, 110, 255);
}

.bdp-step{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

::ng-deep .p-accordion p-accordiontab:last-child .p-accordion-content
{
    padding: 0 !important;
    border: 0 !important;
}

a{
    cursor: pointer !important;
    padding: 0.5rem 1rem !important;
    width: -webkit-fill-available;
}

::ng-deep .p-listbox-item
{
    cursor: pointer;
    padding: 0 !important;
}
