<div>
    <div class="grid p-fluid">
        <div class="col">
            <p-card header="Building Blocks">
                <div class="divider"></div>
                <p-tree [value]="buildingBlocks" [filter]="true" filterPlaceholder="Search Building Blocks"
                    filterMode="strict" [draggableNodes]="true" [droppableNodes]="true">
                    <ng-template let-buildingBlock pTemplate="default">
                        <span [draggable]="buildingBlock.data?.type === 4"
                            (dragstart)="onBuildingBlockAddition(buildingBlock?.data?.id, buildingBlock?.data?.name)">
                            <span
                                [ngClass]="{'fas fa-folder':buildingBlock.data?.type === 1,'fa-regular fa-folder':buildingBlock.data?.type === 2,'far fa-folder-open':buildingBlock.data?.type === 3,'fas fa-boxes':buildingBlock.data?.type === 4}"></span>
                            {{ buildingBlock.label }}
                        </span>
                    </ng-template>
                </p-tree>
            </p-card>
        </div>
        <div class="col">
            <p-card>
                <div style="display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: -4px;
                margin-top: -17px;
                font-size: 21px;
                font-weight: bold;
                margin-bottom: 16px;">
                  <div>Selected Building Blocks</div>
                  <p-button
                  (click)="isExpanded = !isExpanded"
                  class="p-button-outlined"
                  label="{{
                      isExpanded ? 'Collapse All' : 'Expand All'
                  }}"
              ></p-button>
                </div>
                <div class="divider"></div>
              
                <div *ngFor="let buildingBlock of projectBuldingBlock?.buildingBlocks">
                  <p-accordion [activeIndex]="isExpanded ? 0 : -1">
                    <p-accordionTab [selected]="isExpanded">
                      <ng-template pTemplate="header">
                        <div class="blue-header">
                          {{ buildingBlock.buildingBlockName }}
                        </div>
                        <button pButton pRipple type="button" pTooltip="Remove Dragged Building Block."
                          tooltipPosition="top" pButtonIconOnly icon="pi pi-trash" styleClass="trash-icon"
                          (click)="removeBuidlingBlockFromProject(buildingBlock?.buildingBlockId)"
                          style="font-size: 3.5em; margin-left: auto;"
                          class="p-button-rounded p-button-text p-button-danger"></button>
                      </ng-template>
                      <div class="bdp-step">
                        <p-listbox [options]="buildingBlock?.processes">
                          <ng-template let-process pTemplate="item">
                            <a *ngIf="processActiveStatus==0"
                              [ngClass]="{'text-grey':process?.processActiveStatus==0, 'text-blue':process?.processActiveStatus==1, 'text-green':process?.processActiveStatus==2}">
                              <span class="processNumber">{{process.processNumber}}&nbsp;)&nbsp;&nbsp;</span>{{ process.processName }}
                            </a>
                            <a *ngIf="processActiveStatus!=0" (click)="onProcessClick(buildingBlock?.buildingBlockId, process?.processId)"
                              [ngClass]="{'text-grey':process?.processActiveStatus==0, 'text-blue':process?.processActiveStatus==1, 'text-green':process?.processActiveStatus==2}">
                              <span class="processNumber">{{process.processNumber}}&nbsp;)&nbsp;&nbsp;</span>{{ process.processName }}
                            </a>
                          </ng-template>
                        </p-listbox>
                      </div>
                    </p-accordionTab>
                  </p-accordion>
                </div>
              </p-card>
        </div>
        <div class="col" *ngIf="isOriginConfigurationVisible || isDestinationConfigurationVisible">
            <p-card header="Location Configuration" [subheader]="selectedBuildingBlockProcess?.processName">
                <div class="divider"></div>
                <p-selectButton [options]="configurationOptions" optionLabel="name" optionValue="value"
                        [ngModel]="isOriginConfigurationVisible?1:2" (onChange)="toggleConfiguration($event)"
                        optionDisabled="isDisabled"></p-selectButton>
                <div>
                    <p-tree *ngIf="isOriginConfigurationVisible" [value]="originConfigurations" selectionMode="checkbox"
                        class="w-full md:w-30rem" [(selection)]="selectedOriginConfigurations"
                        [propagateSelectionUp]="true" [propagateSelectionDown]="true"
                        (onNodeSelect)="onOriginLocationSelection($event)"
                        (onNodeUnselect)="onOriginLocationSelection($event)">
                        <ng-template let-configuration pTemplate="default">
                            <span>{{ configuration.label }}</span>
                        </ng-template>
                    </p-tree>

                    <p-tree *ngIf="isDestinationConfigurationVisible" [value]="destinationConfigurations"
                        selectionMode="checkbox" class="w-full md:w-30rem"
                        [(selection)]="selectedDestinationConfigurations" [propagateSelectionUp]="true"
                        [propagateSelectionDown]="true" (onNodeSelect)="onDestinationLocationSelection($event)"
                        (onNodeUnselect)="onDestinationLocationSelection($event)">
                        <ng-template let-configuration pTemplate="default">
                            <span>{{ configuration.label }}</span>
                        </ng-template>
                    </p-tree>
                </div>
            </p-card>
        </div>        
    </div>
    <div class="col-12" style="display: flex;justify-content: flex-end;">
        <button pButton pRipple type="button" *ngIf="projStatus !=3 && projStatus !=4" label="Save As Draft"
            (click)="saveProjectBuildingBlocks()" class="p-button-outlined mr-2 mb-2"></button>
        <button type="submit" pButton pRipple label="Submit" [disabled]="true"
            class="mr-2 mb-2"></button>
    </div>
    <p style="font-weight: 500"></p>
</div>

<p-toast key="successToast"></p-toast>