<p-tabView [(activeIndex)]="activeIndex">
    <p-tabPanel header="Project Information">
        <div>
            <h5>Project Information</h5>
        </div>
        <hr class="align">
        <form [formGroup]="myForm">
            <div class="p-fluid grid">
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Company Name<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="companyOptions" (onChange)="onCompanySelect($event)" optionLabel="name"
                        optionValue="id" formControlName="companyName" placeholder="Select Company Name" [filter]="true"
                        filterBy="name"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Company Code</label></div>
                    <input placeholder="Enter Customer Code" formControlName="Company Code" type="text" pInputText>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Opportunity Name<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="opportunityNameOptions" optionLabel="name"
                        (onChange)="onOpportunitySelect($event)" optionValue="id" formControlName="opportunityName"
                        placeholder="Select Opportunity Name" [filter]="true" filterBy="name"></p-dropdown>
                    <!-- <input   placeholder="Enter Opportunity Name" formControlName="opportunityName" type="text" 
                        pInputText> -->
                </div>

                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Industry Vertical<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="IVOptions" optionLabel="name" optionValue="id"
                        formControlName="industryVertical" placeholder="Enter Industry Vertical" [filter]="true"
                        filterBy="name"></p-dropdown>
                    <!-- <input  placeholder="Enter Industry Vertical" formControlName="industryVertical" type="text"
                    pInputText> -->
                </div>
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Region<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="regionOptions" formControlName="region" placeholder="Select Region"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name"></p-dropdown>
                </div>
                <br>


                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Project Name<span class="requiredField">*</span></label></div>
                    <input formControlName="projectName" placeholder="Enter Project Name" type="text" id="inputtext"
                        pInputText>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Project Stage<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="projectStageOptions" formControlName="projectStage"
                        (onChange)="OnStageSelectProjectstatus($event)" placeholder="Select Project Stage"
                        optionLabel="name" optionValue="id" [filter]="true" filterBy="name"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <div class="p-d-block"><label>Project Status<span class="requiredField">*</span></label></div>
                    <p-dropdown [options]="projectStatusOptions" formControlName="projectStatus"
                        placeholder="Select Project Status" optionLabel="name" optionValue="id" [filter]="true"
                        filterBy="name"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="p-d-block"><label>Opportunity Manager<span class="requiredField">*</span></label></div>
                    <p-multiSelect [options]="opportunityManagerOptions" formControlName="opportunityManger"
                        optionLabel="name" optionValue="id" placeholder="Select Opportunity Manager" [filter]="true"
                        filterBy="name"></p-multiSelect>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="p-d-block"><label>Start Date-End Date<span class="requiredField">*</span></label></div>
                    <!-- <input type="text" ngxDaterangepickerMd [lockStartDate]="false" formControlName="selectedDateRange"
                        placeholder="Start Date-End Date" class="date_pick" /> -->
                        <p-calendar  selectionMode="range"  formControlName="selectedDateRange" placeholder="start-date/end-date" [style.width]="'200px'" [style.height]="'200px'"></p-calendar>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="p-d-block"><label>Design Notes<span class="requiredField">*</span></label></div>
                    <textarea rows="4" cols="30" pInputTextarea formControlName="designNotes"
                        placeholder="Enter Design Notes" id="inputtext"></textarea>

                    <div class="error" *ngIf="myForm.get('designNotes').hasError('maxlength')">
                        Maximum character limit exceeded (1000 characters).
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <div class="p-d-block"><label>Implementation Notes<span class="requiredField">*</span></label></div>
                    <!-- <input formControlName="impleNotes" placeholder="Enter Implementation Notes"  type="text" id="inputtext"
                    pInputText> -->
                    <textarea rows="4" cols="30" pInputTextarea formControlName="impleNotes"
                        placeholder="Enter Implementation Notes" id="inputtext"></textarea>
                    <div class="error" *ngIf="myForm.get('impleNotes').hasError('maxlength')">
                        Maximum character limit exceeded (1000 characters).
                    </div>
                </div>
            </div>
            <hr class="aligndown">
            <div><label>Location<span class="requiredField">*</span></label></div><br>
            <p>Please Select Location and add them for the project</p>
            <div class="p-fluid grid">
                <div class="field col-12 md:col-5">
                    <div class="p-d-flex p-align-center" style="padding-bottom: 8px;">
                        <p-checkbox [binary]="true" inputId="ny" [ngModel]="enableOriginLocation"
                            [ngModelOptions]="{standalone: true}" (onChange)="toggleOriginCheckbox()"></p-checkbox>
                        <label for="ny" style="padding-left: 6px;">Origin Location</label>
                    </div>

                    
                    <p-multiSelect placeholder="Select Origin Location" optionLabel="name" optionValue="id"
                        display="chip" [showClear]="true" [options]="originLocations" [disabled]="!enableOriginLocation"
                        (onChange)="onOriginLocationChange($event)" [(ngModel)]="selectedCitiesOrign"
                        [ngModelOptions]="{standalone: true}">
                    </p-multiSelect>

                </div>

                <div class="field col-12 md:col-5">
                    <div class="p-d-flex p-align-center" style="padding-bottom: 8px;">
                        <p-checkbox value="Destination Location" inputId="nyz" [binary]="true"
                            [ngModel]="enableDestinationLocation" (onChange)="toggleDestinationCheckbox()"
                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                        <label for="nyz" style="padding-left: 6px;">Destination Location</label>
                    </div>
                    <p-multiSelect placeholder="Select Destination Location" optionLabel="name" optionValue="id"
                        display="chip" [showClear]="true" [options]="destinationLocations" [(ngModel)]="selectedCities"
                        [ngModelOptions]="{standalone: true}" [disabled]="!enableDestinationLocation"
                        (onChange)="onDestinationLocationChange($event)">
                    </p-multiSelect>
                </div>
            </div>
            <!-- "enableOriginLocationTab ? 0 : (enableDestinationLocationTab ? 1 : -1)" -->

            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Selected Location Volume and UOM"
                    *ngIf="enableOriginLocation || enableDestinationLocation">

                    <div class="card">
                        <p-tabView>
                            <p-tabPanel header="Origin Location">

                                <p-table [value]="OtableData" [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:20%">Action</th>
                                            <th style="width:20%">Location</th>
                                            <th style="width:20%">Volume</th>
                                            <th style="width:20%">UOM</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <div>
                                                    <button pButton pRipple type="button"
                                                        (click)="OrignaddRow(rowIndex)" *ngIf="!rowData.editing"
                                                        icon="pi pi-plus"
                                                        class="p-button-rounded p-button-text"></button>
                                                    <button pButton pRipple type="button"
                                                        (click)="OrigneditRow(rowIndex)" *ngIf="!rowData.editing"
                                                        pInitEditableRow icon="pi pi-pencil"
                                                        class="p-button-rounded p-button-text"></button>
                                                    <button pButton pRipple type="button" pSaveEditableRow
                                                        icon="pi pi-check" (click)="OrignsaveRow(rowIndex)"
                                                        *ngIf="rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                                    <button pButton pRipple type="button" pCancelEditableRow
                                                        icon="pi pi-times" (click)="OrigndiscardRow(rowIndex)"
                                                        *ngIf="rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-danger"></button>
                                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                                        (click)="OrigndeleteRow(rowIndex)" *ngIf="!rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-danger"></button>

                                                </div>
                                            </td>
                                            <td>
                                                {{ rowData.city }}
                                            </td>
                                            <td>
                                                <span *ngIf="!rowData.editing">{{ rowData.Volume }}</span>
                                                <input [(ngModel)]="rowData.Volume" *ngIf="rowData.editing"
                                                    [ngModelOptions]="{standalone: true}" pInputText type="number"
                                                    placeholder="Enter Volume" [min]="0" required>
                                            </td>

                                            <td *ngIf="rowData.editing">
                                                <p-dropdown [(ngModel)]="rowData.Uom"
                                                    [ngModelOptions]="{standalone: true}" [options]="uomOptions"
                                                    optionLabel="name" optionValue="id" [appendTo]="'body'"
                                                    placeholder="Select UOM" [style]="{'width':'100%'}"
                                                    required></p-dropdown>
                                            </td>
                                            <td *ngIf="!rowData.editing">
                                                {{ getUomName(rowData.Uom) }}
                                            </td>


                                        </tr>
                                    </ng-template>
                                </p-table>

                            </p-tabPanel>
                            <p-tabPanel header="Destination Location">

                                <p-table [value]="tableData" [tableStyle]="{'min-width': '50rem'}">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:20%">Action</th>
                                            <th style="width:20%">Location</th>
                                            <th style="width:20%">Volume</th>
                                            <th style="width:20%">UOM</th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                        <tr>
                                            <td>
                                                <div>
                                                    <button pButton pRipple type="button" (click)="addRow(rowIndex)"
                                                        *ngIf="!rowData.editing" icon="pi pi-plus"
                                                        class="p-button-rounded p-button-text"></button>
                                                    <button pButton pRipple type="button" (click)="editRow(rowIndex)"
                                                        *ngIf="!rowData.editing" pInitEditableRow icon="pi pi-pencil"
                                                        class="p-button-rounded p-button-text"></button>
                                                    <button pButton pRipple type="button" pSaveEditableRow
                                                        icon="pi pi-check" (click)="saveRow(rowIndex)"
                                                        *ngIf="rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-success mr-2"></button>
                                                    <button pButton pRipple type="button" pCancelEditableRow
                                                        icon="pi pi-times" (click)="discardRow(rowIndex)"
                                                        *ngIf="rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-danger"></button>
                                                    <button pButton pRipple type="button" icon="pi pi-trash"
                                                        (click)="deleteRow(rowIndex)" *ngIf="!rowData.editing"
                                                        class="p-button-rounded p-button-text p-button-danger"></button>

                                                </div>
                                            </td>
                                            <td>
                                                {{ rowData.city }}
                                            </td>
                                            <td>
                                                <span *ngIf="!rowData.editing">{{ rowData.Volume }}</span>
                                                <input [(ngModel)]="rowData.Volume" *ngIf="rowData.editing"
                                                    [ngModelOptions]="{standalone: true}" pInputText type="number"
                                                    placeholder="Enter Volume" [min]="0" required>
                                            </td>

                                            <td *ngIf="rowData.editing">
                                                <p-dropdown [(ngModel)]="rowData.Uom"
                                                    [ngModelOptions]="{standalone: true}" [options]="uomOptions"
                                                    optionLabel="name" optionValue="id" [appendTo]="'body'"
                                                    placeholder="Select UOM" [style]="{'width':'100%'}"
                                                    required></p-dropdown>
                                            </td>
                                            <td *ngIf="!rowData.editing">
                                                {{ getUomName(rowData.Uom) }}
                                            </td>


                                        </tr>
                                    </ng-template>
                                </p-table>
                            </p-tabPanel>
                        </p-tabView>
                    </div>
                </p-accordionTab>
            </p-accordion>

            <h6><b>Documents</b></h6>
            <p>Upload the following documents: File Size < 5 mb,Format Excel, Word, PDF, PPT, JPEG & PNG</p>
                    <div class="p-fluid grid">
                        <div class="field col-12 md:col-4">
                            <div class="p-d-block">
                                <p><b>A.</b> Value Document&nbsp; <a (click)="showDialogValue()"
                                        style="text-decoration: underline;">Upload</a></p>
                                <ul *ngIf="uploadedFiles.length > 0">
                                    <li *ngFor="let file of uploadedFiles; let i = index" class="file-item">
                                        <a (click)="downloadArtifactByIDValue(i)"
                                            [pTooltip]="'Click on the file to Download'" [tooltipPosition]="'top'"
                                            style="text-decoration: underline;">{{ file.name }}</a>
                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="deleteProjectArtifact(i)" style="margin-left: 8px;"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="p-d-block">
                                <p><b>B.</b> Response Document&nbsp; <a (click)="showDialogResponse()"
                                        style="text-decoration: underline;">Upload</a></p>
                                <ul *ngIf="uploadedResponseFiles.length > 0">
                                    <li *ngFor="let file of uploadedResponseFiles; let i = index" class="file-item">
                                        <a (click)="downloadArtifactByIDResponse(i)"
                                            [pTooltip]="'Click on the file to Download'" [tooltipPosition]="'top'"
                                            style="text-decoration: underline;">{{ file.name }}</a>
                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="deleteResponseArtifact(i)" style="margin-left: 8px;"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="p-d-block">
                                <p><b>C.</b> Others&nbsp; <a (click)="showDialogOthers()"
                                        style="text-decoration: underline;">Upload</a></p>
                                <ul *ngIf="uploadedOtherFiles.length > 0">
                                    <li *ngFor="let file of uploadedOtherFiles; let i = index" class="file-item">
                                        <a (click)="downloadArtifactByIDOther(i)"
                                            [pTooltip]="'Click on the file to Download'" [tooltipPosition]="'top'"
                                            style="text-decoration: underline;">{{ file.name }}</a>
                                        <button pButton pRipple type="button" icon="pi pi-trash"
                                            (click)="deleteOtherArtifact(i)" style="margin-left: 8px;"
                                            class="p-button-rounded p-button-text p-button-danger"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr class="aligndown">
                    <div class="col-12" style="display: flex;justify-content: flex-end;">
                        <button pButton pRipple type="button" label="Save As Draft" [disabled]="!myForm.valid"
                            (click)="onSaveAsDraftClick()" class="p-button-outlined mr-2 mb-2"></button>
                        <button type="submit" pButton pRipple label="Continue" [disabled]="!draftSaved" (click)="goToNextTab()"
                            class="mr-2 mb-2"></button>
                    </div>
                    <p-toast key="successToast"></p-toast>
                    <p-toast key="errorToast"></p-toast>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Building Block" [disabled]="!draftSaved">
        <div *ngIf="draftSaved">
            <app-building-block (continueClicked)="goToNextTab()" [projStatus]="projStatus" [projinfoID]="projinfoID"></app-building-block>
        </div>
    </p-tabPanel>

    <p-tabPanel [disabled]="!draftSavedBB" header="Add Volume">
        <div *ngIf="projectIDbb !== null">
            <app-add-volume (onClickContinuetoAddVolume)="goToNextTab()" [projStatus]="projStatus" [projectIdbb]="projectIDbb"></app-add-volume>
          </div>
    </p-tabPanel>


    <p-tabPanel header="Cost Line Item" [disabled]="!draftSavedVolume">
        <div *ngIf="projectidVolume !== null">
          <app-cost-line-item (continueClickedToCLI)="goToNextTab()" [projStatus]="projStatus" [projectidVolume]="projectidVolume"></app-cost-line-item>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Other Cost" [disabled]="!draftSavedCLI">
        <div *ngIf="projectIdCLI !== null">
            <app-other-cost (continueClickedToProjectCost)="goToNextTab()" [projStatus]="projStatus" [projectIdCLI]="projectIdCLI"></app-other-cost>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Project Output" [disabled]="!draftSavedOC">
        <div *ngIf="projectIdOC !== null">
            <app-project-cost [projectIdOC]="projectIdOC"></app-project-cost>
        </div>
    </p-tabPanel>
</p-tabView>

<!--------------------------------------------------Upload Artifact-------------------------------------- -->
<p-dialog header="Import Excel" [(visible)]="visibleValueBox" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload Document</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <!-- <a href="#" (click)="downloadSampleOpExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a> -->
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>Format CSV,JPEG,Excel,PDF</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure to provide valid data</li>
                        <li>Keep file name recognizable</li>
                    </ol>
                </div>
            </div>
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <!-- <div *ngIf="showUploaderror" style="color: red;">
                        Upload error: All fields empty or exceeds 1000 characters. Review the file before uploading.
                    </div> -->
                    <div class="box">
                        <div class="card-body">
                            <div class="container">
                                <label for="fileInput" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameOC}}</p>
                                <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple
                                    style="display: none;" accept=".csv, .jpeg, .jpg, .png, .xls, .xlsx, .pdf">

                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="btn" (click)="onRemoveClick()">
                                Remove File
                            </button>
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="btn" (click)="onUploadClick()">
                                Submit
                            </button>
                            <button type="submit" (click)="onValueCancelClick()" pButton pRipple
                                class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog header="Import Excel" [(visible)]="visibleResponseBox" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload Document</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <!-- <a href="#" (click)="downloadSampleOpExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a> -->
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>Format CSV,JPEG,Excel,PDF</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure to provide valid data</li>
                        <li>Keep file name recognizable</li>
                    </ol>
                </div>
            </div>
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <!-- <div *ngIf="showUploaderror" style="color: red;">
                        Upload error: All fields empty or exceeds 1000 characters. Review the file before uploading.
                    </div> -->
                    <div class="box">
                        <div class="card-body">
                            <div class="container">
                                <label for="fileInput" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameOC}}</p>
                                <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple
                                    style="display: none;" accept=".csv, .jpeg, .jpg, .png, .xls, .xlsx, .pdf">

                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="btn" (click)="onRemoveClick()">
                                Remove File
                            </button>
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="btn" (click)="onUploadResponseClick()">
                                Submit
                            </button>
                            <button type="submit" (click)="onResponseCancelClick()" pButton pRipple
                                class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog header="Import Excel" [(visible)]="visibleOthersBox" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <div style="width: 100%;">
            <h5 style="display: contents;">Upload Document</h5>&nbsp;&nbsp;&nbsp;
            <h5 style="display: contents;">
                <!-- <a href="#" (click)="downloadSampleOpExcel($event)" style="text-decoration: underline;">Download Sample
                    File</a> -->
            </h5>
        </div>
    </ng-template>
    <hr>
    <div>
        <div class="p-fluid grid">
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Instructions</b></h6>
                    <ul class="list">
                        <li>Maximum File Size: 5MB</li>
                        <li>Format CSV,JPEG,Excel,PDF</li>
                    </ul>
                    <ol class="list" type="1">
                        <li>Make sure to provide valid data</li>
                        <li>Keep file name recognizable</li>
                    </ol>
                </div>
            </div>
            <div class="col-12 md:col-12">
                <div class="custom-container">
                    <h6><b>Upload</b></h6>
                    <!-- <div *ngIf="showUploaderror" style="color: red;">
                        Upload error: All fields empty or exceeds 1000 characters. Review the file before uploading.
                    </div> -->
                    <div class="box">
                        <div class="card-body">
                            <div class="container">
                                <label for="fileInput" class="custom-file-input">
                                    <i class="pi pi-upload" style="font-size: 30px;display: block;"></i>
                                    <div class="upload_name">Upload</div>
                                </label>
                                <p style="text-align: center;">{{fileNameOC}}</p>
                                <input type="file" id="fileInput" (change)="onFileSelected($event)" multiple
                                    style="display: none;" accept=".csv, .jpeg, .jpg, .png, .xls, .xlsx, .pdf">

                            </div>
                        </div>
                    </div>
                    <div class="card_footer">
                        <div>
                            <button type="submit" pButton pRipple class="btn" (click)="onRemoveClick()">
                                Remove File
                            </button>
                        </div>
                        <div class="uplodBtn_right">
                            <button type="submit" pButton pRipple class="btn" (click)="onUploadOtherClick()">
                                Submit
                            </button>
                            <button type="submit" (click)="onOthersCancelClick()" pButton pRipple
                                class="btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<!--------------------end----------------------------------------------------------------------------------->