.p-d-block {
    margin-bottom: 3px; /* Adjust the value as needed */
}
.error{
    color: red;;
}

.align{
    margin-top: -7px;
    margin-bottom: 22px;
    color: gray;
    background-color: #d9d2d2;
    height: 1px; /* Set the height of the line */
    border: none; /* Remove default border */
    
}
.aligndown{
    color: gray;
    background-color: #d9d2d2;
    height: 1px;
    border: none;
    margin-bottom: 18px;
    margin-top: 13px;
}
.p-dropdown .ui-dropdown-label {
    font-size: 2px; /* Adjust the font size as needed */
}
label{
    font-size: 16px;
}


.blue-checkbox {
    color: blue; 
}
.p-accordion-toggle-icon {
    margin-right: 0.5rem;
    position: absolute;
    right: 0rem;
}

.excel-container {
    overflow-x: auto;
  }
  
  .excel-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .excel-table th, .excel-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .excel-table th {
    background-color: #f2f2f2;
  }
  .box{
    border: 1px solid #a6d5fa;;
    padding: 0;
    border-style: dashed;
    height: 150px;

  }
 .btn{
  display: flex;
  justify-content: space-between;
  margin:2px
 }
 .container{
  padding: 6px;
  padding-left: 15px;
  
  height: 60px;
 }

 input[type="file"] {
  display: none;
}

.custom-file-input {
  // background-color: #0d89ec; 
  color: #495057;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  height: 33px;
  margin-right: 8px;
  margin-left: 46%;
  margin-top: 6%;
}
.card_footer{
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
}
.uplodBtn_right{
  display: flex;
}
.upload_name{
  font-size: 16px;
  font-weight: bold;
  color: #2c83d7;
  position: relative;
  right: 10px;
}
@media only screen and (max-width: 600px) {
  /* Add styles for small screens */
  .excel-container {
     overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
}
.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px; 
  padding: 8px; 
}

.remove-button {
  background: none;
  border: none;
  color: red; 
  cursor: pointer;
}
::ng-deep .p-calendar .p-datepicker {
  min-width: 0% !important;
}

